<template lang="pug">
.card
  .card__container
    .devider
    .digit
      slot(name="digit")
  .card__title
    slot(name="title")

</template>

<style lang="scss" scoped>
.card {
  margin: 0 8px;
}

@media (min-width: $medium) {
  .card {
    margin: 0 16px;
  }
}

.card__container {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: $card-bg;
  border-radius: 4px;
  box-shadow: 0 5px 0 0 $shadow;
  z-index: 97;
}

@media (min-width: $medium) {
  .card__container {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 0 0 $shadow;
  }
}

.devider {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $shadow;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.digit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: $clock;
  z-index: 98;
}

@media (min-width: $medium) {
  .digit {
    font-size: 80px;
  }
}

.card__container::before,
.card__container::after {
  position: absolute;
  top: 50%;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: $shadow;
  border-radius: 50%;
  z-index: 100;
}

@media (min-width: $medium) {
  .card__container::before,
  .card__container::after {
    width: 12px;
    height: 12px;
  }
}

.card__container::before {
  transform: translate(-50%, -50%);
}
.card__container::after {
  right: 0;
  transform: translate(50%, -50%);
}

.card__title {
  padding-top: 8px;
  text-align: center;
  text-transform: uppercase;
  color: $card-title;
  letter-spacing: 3px;
  font-size: 8px;
}

@media (min-width: 768px) {
  .card__title {
    padding-top: 16px;
    letter-spacing: 6px;
    font-size: 14px;
  }
}
</style>
