<template lang="pug">
a.social(:href="link")
  slot
</template>

<script>
export default {
  props: {
    link: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.social {
  padding: 0 1rem;
}

.social:focus {
  outline: 0;
}

.social:active {
  filter: invert(52%) sepia(27%) saturate(3306%) hue-rotate(312deg)
    brightness(102%) contrast(97%);
}

@media (hover: hover) and (pointer: fine) {
  .social:hover {
    filter: invert(52%) sepia(27%) saturate(3306%) hue-rotate(312deg)
      brightness(102%) contrast(97%);
  }
}
</style>
