@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #674baf;
  background-image: url(../img/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 62.5%;
  color: #fff; }

body * {
  font-size: 1rem; }

*:focus {
  outline: none !important;
  -webkit-outline: none !important;
  -moz-outline: none !important;
  -ms-outline: none !important;
  -o-outline: none !important; }

a {
  text-decoration: none;
  color: #fff; }
  a:focus {
    color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: none; }

h1 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 2.2rem; }

#main {
  flex: 1 0 auto; }

#footer {
  flex: 0 0 auto; }

@media (max-width: 576px) {
  h1 {
    font-size: 1.8rem; } }

@media (max-width: 1200px) {
  body {
    background-image: url(../img/bg-mobile.svg); } }

#header {
  padding: 2.5rem 0; }

#logo {
  width: 18rem; }

.main-content {
  padding: 3rem 0; }
  .main-content-img {
    width: 100%; }
  .main-content-text {
    padding-left: 1rem;
    margin-top: 2rem; }
    .main-content-text h1 {
      margin-bottom: 1.4rem;
      line-height: 1.5; }
    .main-content-text p {
      margin-bottom: 2rem; }

.footer {
  padding: 1rem 0; }
  .footer-link {
    font-size: 0.8rem;
    text-align: center; }

@media (max-width: 1200px) {
  #logo {
    width: 15rem; }
  .main-content-text {
    padding-left: 1rem;
    margin-top: 0; } }

@media (max-width: 992px) {
  .main-content {
    text-align: center; }
    .main-content-text {
      padding-left: 0;
      margin-top: 4rem; } }

@media (max-width: 768px) {
  #logo {
    width: 12rem; } }

.button {
  padding: 0.7rem 4rem;
  border-radius: 2rem;
  color: #674baf;
  background-color: #fff;
  border: 1px solid #fff;
  transition: all 0.2s ease-out; }
  .button:active {
    background-color: transparent;
    color: #000; }

.socials {
  display: block;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  list-style: none;
  text-align: center; }

.socials__item {
  display: inline-block;
  text-align: inherit;
  padding: 0 0.5rem; }
  .socials__item a {
    display: inherit;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding-top: 0.2rem;
    text-align: inherit; }

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: transparent;
    color: #fff; }
  .button:active {
    background-color: transparent;
    color: #000; } }
