doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Solution For Meet Landing Page Frontend Mentor Challenge")
    title Meet Landing Page
  body
    header.header
      img(src="./img/logo.svg")
    section.hero
      .container
        h1.title Group Chat for Everyone
        p.subtitle Meet makes it easy to connect with others face-to-face virtually and collabotrate across any device.
        button.btn-download.hero__btn Download&nbsp;
          span.btn-download__span v1.3
        button.btn-faq.hero__btn.hero--btn-margin What is it?
        .path.hero__path
          .line
          span.number 01
    section.pictures
      .container
        .pictures__content
          .pictures__group
            img.picture(src="./img/image-woman-in-videocall.jpg" alt="Videocall")
            img.picture(src="./img/image-women-videochatting.jpg" alt="Videochatting")
          .pictures__group
            img.picture(src="./img/image-men-in-meeting.jpg" alt="Meeting")
            img.picture(src="./img/image-man-texting.jpg" alt="Texting")
    section.info
      .container
        .info__content
          p.overline built for modern use
          h2.info__title Smarter meetings, all in one place
          p.info__subtitle Send messages, share files, 
            | show your screen, and record your meetings — 
            | all in one workspace. Control who can join with 
            | invite-only team access, data encryption, and data export.
          .path.info__path
            .line
            span.number 02
    footer.footer
      .footer__wrap
      .container
        .cta.footer__content
          h2.cta__title Experience more together
          p.cta__subtitle Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
          button.hero__btn.btn-cta Download&nbsp;
            span.btn-cta__span v1.3
      