// Fonts
@font-face
  font-family: 'Poppins-Regular'
  src: url('../fonts/Poppins-Regular.eot')
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Poppins-Bold'
  src: url('../fonts/Poppins-Bold.eot')
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'OpenSans-Regular'
  src: url('../fonts/OpenSans-Regular.eot')
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

//Base
html, body
    height: 100%

body
  display: flex
  flex-direction: column
  min-height: 100%
  background-color: $primary-violet
  background-image: $bg-desktop
  background-repeat: no-repeat
  background-size: cover
  @include font('OpenSans-Regular', 62.5%)
  color: $white

body
  *
    font-size: 1rem

*:focus
  outline: none !important
  -webkit-outline: none !important
  -moz-outline: none !important
  -ms-outline: none !important
  -o-outline: none !important

a
  text-decoration: none
  color: $white
  &:focus
    color: $white
  &:hover
    color: $white
    text-decoration: none

h1
  @include font('Poppins-Bold', 2.2rem)

#main
  flex: 1 0 auto

#footer
  flex: 0 0 auto

@media (max-width: $ex-small)
  h1
    font-size: 1.8rem
    
@media (max-width: $ex-large)
  body
    background-image: $bg-mobile
