// Header
#header
  padding: 2.5rem 0

// Logo
#logo
  width: 18rem

// Main
.main
  &-content
    padding: 3rem 0
    &-img
      width: 100%
    &-text
      padding-left: 1rem
      margin-top: 2rem
      h1
        margin-bottom: 1.4rem
        line-height: 1.5
      p
        margin-bottom: 2rem

// Footer
.footer
  padding: 1rem 0
  &-link
    font-size: 0.8rem
    text-align: center

@media (max-width: $ex-large)
  #logo
    width: 15rem

  .main
    &-content
      &-text
        padding-left: 1rem
        margin-top: 0

@media (max-width: $large)
  .main
    &-content
      text-align: center
      &-text
        padding-left: 0
        margin-top: 4rem

@media (max-width: $small)
  #logo
    width: 12rem
