// Button
.button
  padding: 0.7rem 4rem
  border-radius: 2rem
  color: $primary-violet
  background-color: $white
  border: 1px solid $white
  transition: all 0.2s ease-out
  &:active
    background-color: transparent
    color: $black


// Socials
.socials
  display: block
  margin: 0 auto
  padding: 2rem 0 1rem 0
  list-style: none
  text-align: center

.socials__item
  display: inline-block
  text-align: inherit
  padding: 0 0.5rem
  a
    display: inherit
    width: 2rem
    height: 2rem
    font-size: 1rem
    border: 1px solid $white
    border-radius: 50%
    padding-top: 0.2rem
    text-align: inherit

// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  .button
    &:hover
      background-color: transparent
      color: $white
    &:active
      background-color: transparent
      color: $black
