.btn {
  padding: 16px 26px;
  border-radius: 10px;
  border: 0;
  background-color: var(--btn-bg);
  text-transform: uppercase;
  color: var(--headings);
}

.btn:focus {
  color: var(--headings);
  background-color: var(--btn-bg);
  outline: 0;
}

.btn:active {
  background-color: var(--headings);
  color: var(--white);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: var(--headings);
    color: var(--white);
  }

  .btn:active {
    color: var(--headings);
    background-color: var(--btn-bg);
  }
}
