<template lang="pug">
.badge(:class="class") {{text}}
</template>

<script>
export default {
  props: ["class", "text"]
};
</script>

<style lang="scss" scoped>
.badge {
  padding: 6px 12px;
  display: inline-block;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: $white;
  font-size: 11px;
}

.new {
  background-color: $header-bg;
  user-select: none;
}

.featured {
  background-color: $featured-bg;
  user-select: none;
}
</style>
