<template lang="pug">
.container
  slot
</template>

<style lang="scss">
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $small) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: $medium) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $large) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: $ex-large) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: $huge) {
  .container {
    max-width: 1320px;
  }
}
</style>
