@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Raleway-Regular.woff2") format('woff2'), url("../fonts/Raleway-Regular.woff") format('woff'), url("../fonts/Raleway-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Raleway-Bold.woff2") format('woff2'), url("../fonts/Raleway-Bold.woff") format('woff'), url("../fonts/Raleway-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Bold.woff2") format('woff2'), url("../fonts/OpenSans-Bold.woff") format('woff'), url("../fonts/OpenSans-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Regular.woff2") format('woff2'), url("../fonts/OpenSans-Regular.woff") format('woff'), url("../fonts/OpenSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 62.5%;
  color: #fff;
  background-color: #1c2431;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
  color: #fff;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 1rem;
}
h1 {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 2.4rem;
}
h2 {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 2.1rem;
}
h3 {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 1.4rem;
}
h4 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 1rem;
  margin: 0;
}
.border-underline {
  border-bottom: 1px solid #65e2d9;
}
.container-fluid {
  padding: 0 14%;
}
@media (max-width: 1440px) {
  .container-fluid {
    padding: 0 11%;
  }
}
@media (max-width: 1200px) {
  .container-fluid {
    padding: 0 6%;
  }
}
@media (max-width: 768px) {
  .container-fluid {
    padding: 0 4%;
  }
}
@media (max-width: 576px) {
  h1 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 2rem;
  }
  h2 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 1.8rem;
  }
}
.navbar {
  font-family: 'OpenSans-Regular', sans-serif;
  padding: 3rem 0 5rem;
  list-style: none;
}
.navbar-item {
  padding: 0 1rem;
}
.main {
  padding-bottom: 10rem;
  background-image: url("../img/bg-curvy-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}
.main-img {
  width: 70%;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  max-width: 50rem;
  line-height: 1.5;
}
.main-content p {
  max-width: 30rem;
  margin-bottom: 2rem;
}
.features {
  background-color: #181f2a;
}
.productive {
  background-color: #181f2a;
  padding: 5rem 0;
}
.productive-img {
  width: 100%;
}
.productive-content {
  padding-top: 5rem;
  padding-left: 2rem;
}
.productive-content h1 {
  max-width: 20rem;
  margin-bottom: 2rem;
}
.productive-content a {
  color: #65e2d9;
}
.productive-content a i {
  margin-left: 0.5rem;
}
.testimonials {
  position: relative;
  background-color: #181f2a;
  padding: 5rem 0 25rem;
}
.cta {
  background-color: #1c2431;
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 0.1rem 0 rgba(0,0,0,0.1);
  padding: 3rem 5rem;
  text-align: center;
}
.cta h2 {
  line-height: 1.5;
}
.cta p {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 45rem;
}
.footer {
  background-color: #0b1523;
  padding: 13rem 0 3rem;
  font-family: 'OpenSans-Regular', sans-serif;
}
.footer-logo {
  padding-bottom: 3rem;
}
@media (max-width: 1440px) {
  .productive-content {
    padding-top: 0;
  }
}
@media (max-width: 1200px) {
  .productive-content {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .main {
    background-image: url("../img/bg-curvy-mobile.svg");
  }
  .productive-img {
    margin-bottom: 4rem;
  }
  .productive-wrap {
    text-align: center;
  }
  .cta {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .main-img {
    width: 95%;
  }
  .productive-img {
    width: 90%;
  }
  .footer-copyright {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .navbar-item {
    padding: 0 0.4rem;
  }
  .cta {
    padding: 3rem 1rem;
  }
}
.logo {
  width: 10rem;
}
.btn {
  background: linear-gradient(132deg, #65e2d9, #339ecc);
  border-radius: 4rem;
  color: #fff;
  font-size: 1rem;
}
.btn:active {
  background: linear-gradient(132deg, #339ecc, #65e2d9);
  color: #000;
}
.btn-main {
  padding: 1rem 6rem;
}
.btn-cta {
  padding: 1rem 3rem;
  width: 30rem;
}
.feature {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feature i {
  font-size: 5rem;
  color: #65e2d9;
}
.feature h3 {
  margin-top: 2rem;
}
.feature p {
  max-width: 25rem;
  font-family: 'OpenSans-Regular', sans-serif;
}
.testimonial {
  position: relative;
  background-color: #202a3c;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 0.1rem 0 rgba(0,0,0,0.02);
}
.testimonial-wrap {
  display: flex;
  justify-content: center;
}
.testimonial-quotes {
  position: absolute;
  top: -2rem;
  left: -1rem;
}
.media {
  padding-top: 1rem;
}
.media-img {
  width: 2.8rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.media-body p {
  font-family: 'OpenSans-Regular', sans-serif;
}
.cta-form-group {
  display: flex;
  justify-content: space-between;
}
.cta-form-group__email {
  padding: 1.7rem 1rem;
  border-radius: 5rem;
}
.cta-form-group button {
  margin-left: 2rem;
}
.footer__info {
  display: flex;
}
.footer__icon {
  padding-top: 0.3rem;
  margin-right: 0.5rem;
}
.list {
  list-style: none;
}
.list-item {
  padding: 0.5rem 0;
}
.list-item:first-child {
  padding-top: 0;
}
.list-item:last-child {
  padding-bottom: 0;
}
.socials {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  list-style: none;
}
.socials__item {
  padding: 0 0.5rem;
}
.socials__item:first-child {
  padding-left: 0;
}
.socials__item:last-child {
  padding-right: 0;
}
.socials__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid;
  border-radius: 50%;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background: linear-gradient(132deg, #339ecc, #65e2d9);
    color: #fff;
  }
  .btn:active {
    background: linear-gradient(132deg, #339ecc, #65e2d9);
    color: #000;
  }
}
@media (max-width: 992px) {
  .testimonial {
    max-width: 26rem;
    margin-bottom: 2rem;
  }
  .testimonial-quotes {
    position: absolute;
    top: -2rem;
    left: -0.2rem;
  }
  .footer__info-wrap {
    padding-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 7rem;
  }
  .cta-form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cta-form-group button {
    margin: 0;
    margin-top: 2rem;
    width: 100%;
  }
  .list-item:first-child {
    padding-top: 0.5rem;
  }
  .socials {
    justify-content: center;
    margin: 1rem 0;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 5.7rem;
  }
  .testimonial {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
}
