// Fonts
@font-face {
  font-family: 'JosefinSansSemiBold';
  src: url('../fonts/JosefinSans-SemiBold.eot');
  src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'), url('../fonts/JosefinSans-SemiBold.woff') format('woff'), url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSansLight';
  src: url('../fonts/JosefinSans-Light.eot');
  src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-Light.woff2') format('woff2'), url('../fonts/JosefinSans-Light.woff') format('woff'), url('../fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSansRegular';
  src: url('../fonts/JosefinSans-Regular.eot');
  src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-Regular.woff2') format('woff2'), url('../fonts/JosefinSans-Regular.woff') format('woff'), url('../fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// Base
body {
  .fontMix('JosefinSansRegular', 62.5%);
  color: @text;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url('@{IMG_DIR}bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 62%;
}

body {
  * {
    font-size: 1rem;
  }
}

*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}

a {
  text-decoration: none;
  color: @neutral-dark-red;
  &:hover {
    color: @neutral-dark-red;
    text-decoration: none;
  }
  &:focus {
    color: @neutral-dark-red;
  }
}

h1 {
  .fontMix('JosefinSansLight', 5.6rem);
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: @large) {
  body {
    background-size: cover;
  }
}
