// Grid
.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas: "c1 c3" "c2 c3";
  grid-gap: 0 2rem;
}

@media (max-width: @medium) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "c1" "c3" "c2";
  }
}
