// Main
.main {
  &-logo {
    grid-area: c1;
    padding: 5rem 0 0 12rem;
    img {
      width: 15rem;
    }
  }
  &-content {
    grid-area: c2;
    padding: 5rem 0 3rem 12rem;
    max-width: 50rem;
    color: @primary-red;
    font-size: 1.4rem;
    h1 {
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 1.4rem;
      span {
        .fontMix('JosefinSansSemiBold', inherit);
        color: @neutral-dark-red;
      }
    }
    p {
      padding: 1rem 0;
    }
  }
  &-img {
    grid-area: c3;
    background-image: url('@{IMG_DIR}hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: @huge) {
  .main {
    &-logo {
      padding: 5rem 0 0 6rem;
    }
    &-content {
      max-width: 44rem;
      padding-left: 6rem;
    }
  }
}

@media (max-width: @ex-large) {
  .main {
    &-content {
      max-width: 39rem;
      font-size: 1.4rem;
      h1 {
        font-size: 4.4rem;
        span {
          font-size: inherit;
        }
      }
    }
  }
}

@media (max-width: @large) {
  .main {
    &-logo {
      padding: 5rem 0 0 3rem;
    }
    &-content {
      padding-left: 3rem;
    }
    &-img {
      grid-area: c3;
      background-image: none;
    }
  }
}

@media (max-width: @medium) {
  .main {
    &-logo {
      padding: 3rem 0.5rem;
      img {
        width: 10rem;
      }
    }
    &-content {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 5rem 0.5rem 3rem;
      h1 {
        text-align: inherit;
        display: inline-block;
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 1rem;
      }
      p {
        box-sizing: border-box;
        display: inline-block;
        width: 80%;
      }
    }
    &-img {
      height: 25rem;
      background-image: url('@{IMG_DIR}hero-mobile.jpg');
    }
  }
}
