// Form
.form {
  padding: 2rem 0 0;
  &-group {
    position: relative;
  }
  &-email {
    min-width: 0;
    width: 100%;
    padding: 1.2rem 3rem;
    border: 1px solid @primary-red;
    border-radius: 3rem;
    font-size: 1.4rem;
    background: transparent;
    &::placeholder {
      color: @primary-red;
    }
  }
  &-error {
    display: none;
    position: absolute;
    left: 3.1rem;
    top: 5.5rem;
    color: @primary-soft-red;
  }
  &-errorimg {
    display: none;
    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8.5rem;
    border-radius: 3rem;
    height: 4.6rem;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    &:active {
      background: linear-gradient(hsl(0, 80%, 86%) 0%, @primary-soft-red 100%);
    }
  }
}

// Desktop hover state handler
@media (hover: hover) and (pointer: fine) {
  // Form
  .form {
    &-btn {
      &:hover {
        background: linear-gradient(hsl(0, 80%, 86%) 0%, @primary-soft-red 100%);
      }
      &:active {
        background: linear-gradient(hsl(0, 80%, 86%) 100%, hsl(0, 74%, 74%) 0%);
      }
    }
  }
}

@media (max-width: @medium) {
  .form {
    &-email {
      padding: 1.2rem 1.5rem;
      font-size: 1rem;
    }
    &-errorimg {
      right: 9rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &-btn {
      position: absolute;
      right: 0;
      width: 8.5rem;
      border-radius: 3rem;
      height: 4.1rem;
    }
  }
}
