// Paths
@IMG_DIR: '../img/';

// Colors
@primary-red: hsl(0, 36%, 70%);
@primary-soft-red:  hsl(0, 93%, 68%);

@neutral-dark-red: hsl(0, 6%, 24%);

@text: hsl(0, 6%, 24%);

@white: #fff;
@black: #000;

// Media breakpoints
@small: 576px;
@medium: 768px;
@large: 992px;
@ex-large: 1200px;
@huge: 1440px;
