.footer {
  position: relative;
  background-image: url(../../img/image-footer.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

@media (min-width: 576px) {
  .footer {
    background-image: url(../../img/image-tablet-footer.jpg);
  }
}

@media (min-width: 768px) {
  .footer {
    background-image: url(../../img/image-desktop-footer.jpg);
  }
}
