// Fonts
@font-face
  font-family: 'BaiJamjuree-Regular'
  src: url('../fonts/BaiJamjuree-Regular.eot')
  src: url('../fonts/BaiJamjuree-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BaiJamjuree-Regular.woff2') format('woff2'), url('../fonts/BaiJamjuree-Regular.woff') format('woff'), url('../fonts/BaiJamjuree-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'BaiJamjuree-SemiBold'
  src: url('../fonts/BaiJamjuree-SemiBold.eot')
  src: url('../fonts/BaiJamjuree-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/BaiJamjuree-SemiBold.woff2') format('woff2'), url('../fonts/BaiJamjuree-SemiBold.woff') format('woff'), url('../fonts/BaiJamjuree-SemiBold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

//Base
body
  background-color: $white
  @include font('BaiJamjuree-Regular', 62.5%)
  color: $darkGray

body
  *
    font-size: 1rem

*:focus
  outline: none !important

.link
  text-decoration: none
  color: $darkGray
  transition: all 0.2s ease-out
  &:focus
    color: $cyan
    text-decoration: none

h1
  @include font('BaiJamjuree-SemiBold', 2.8rem)

h2
  @include font('BaiJamjuree-SemiBold', 2.2rem)

h3
  @include font('BaiJamjuree-SemiBold', 1.6rem)

ul
  list-style: none
  margin: 0
  padding: 0

.container-fluid
  padding: 0

// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  .link
    &:focus
      color: $darkGray
      text-decoration: none
    &:hover
      color: $cyan
      text-decoration: none

@media (max-width: $small)
  h1
    @include font('BaiJamjuree-SemiBold', 2rem)

  h2
    @include font('BaiJamjuree-SemiBold', 1.8rem)

  h3
    @include font('BaiJamjuree-SemiBold', 1.5rem)
