// header
.header
  background-image: $bg-header-desktop
  background-repeat: no-repeat
  background-size: 100%
  background-position: top left
  text-align: center
  &-content
    padding-top: 8rem
    padding-bottom: 10rem
    display: flex
    flex-flow: column
    align-items: center
  &-main
    padding-top: 4rem
    &-text
      max-width: 48rem
      padding-top: 0.8rem
      color: $lightGray
      font-size: 1.3rem
  &-buttons
    padding-top: 2rem
    display: flex
    flex-direction: row

// features
.features
  padding-bottom: 12rem
  &-header
    display: flex
    flex-flow: column
    align-items: center
    text-align: center
    &-text
      padding-top: 1rem
      max-width: 48rem
      font-size: 1.2rem
      color: $lightGray
  &-content
    position: relative
    padding-top: 3rem
    display: flex
    flex-direction: row
  &-img
    position: absolute
    width: 100%
    left: -2.5rem

// devices
.devices
  padding-bottom: 5rem
  text-align: center
  &-header
    padding: 6rem 0
    display: flex
    flex-flow: column
    &-text
      padding-top: 1rem
      margin: 0 auto
      max-width: 45rem
      font-size: 1.2rem
      color: $lightGray
  &-img
    width: 100%

// tools
.tools
  &-header
    text-align: center
    &-text
      padding-top: 1rem
      color: $lightGray
      font-size: 1.2rem
  &-content
    padding-top: 4rem
  &-companies
    padding: 10rem 0
    &-img
      margin: 0 auto
      width: 100%
// cta
.cta
  text-align: center
  padding-bottom: 10rem
  &-content
    &-text
      margin: 0 auto
      padding-top: 1rem
      max-width: 45rem
      color: $lightGray
      font-size: 1.2rem
  &-buttons
    padding-top: 2rem
    display: flex
    flex-direction: row
    justify-content: center

// footer
.footer
  padding: 3rem 0 0
  background-color: lighten($lightGray, 25%)
  &-link
    display: block
    padding-bottom: 1rem
    font-size: 1.2rem
  &-author
    width: 100%
    padding-top: 2rem
    padding-bottom: 1rem
    text-align: center

@media (max-width: $large)
  // features
  .features
    &-content
      flex-direction: column
      align-items: center
    &-img
      position: relative
      left: 0

  // devices
  .devices
    &-header
      padding: 0 0 4rem

  // tools
  .tools
    &-companies
      &-img
        width: 10rem

  // footer
  .footer
    &-link
      font-size: 1rem

@media (max-width: $medium)
  // tools
  .tools
    &-companies
      padding: 7rem 0
      &-img
        padding: 3rem 0

@media (max-width: $small)
  // header
  .header
    background-image: $bg-header-mobile
    &-content
      padding-top: 4rem
    &-main
      padding-top: 3rem
    &-buttons
      flex-direction: column

  // cta
  .cta
    &-buttons
      flex-direction: column
      align-items: center

  // footer
  .footer
    text-align: center
