// logo
.logo
  width: 8rem
  &-small
    width: 4rem

// buttons
.btn
  &-cta
    padding: 0.8rem 2.5rem
    border-radius: 3rem
    background-color: $cyan
    box-shadow: 0 3px 0 darken($cyan, 10%)
    @include font('BaiJamjuree-SemiBold', 1.2rem)
    color: $white
    &-blue
      background-color: $blue
      box-shadow: 0 3px 0 darken($blue, 10%)
      &:active
        background-color: darken($blue, 10%)
        box-shadow: 0 3px 0 darken($blue, 20%)
        color: $black
    &:active
      background-color: darken($cyan, 10%)
      box-shadow: 0 3px 0 darken($cyan, 20%)
      color: $black
    &:first-child
      margin-right: 0.5rem
    &:last-child
      margin-left: 0.5rem

// feature
.feature
  padding-top: 5rem
  margin-left: 5rem
  p
    max-width: 21rem
    color: $lightGray
    line-height: 1.8

// tool
.tool
  text-align: center
  img
    width: 3rem
  h3
    padding-top: 3rem
  p
    margin: 0 auto
    max-width: 22rem
    padding-top: 1rem
    color: $lightGray

// center
.cent
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

// socials
.socials
  width: 8rem
  padding-top: 2rem
  display: flex
  flex-direction: row
  justify-content: space-between
  &-wrap
    width: 100%
    display: flex
    justify-content: flex-end
  &-icon
    font-size: 1.8rem

// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  // buttons
  .btn
    &-cta
      &:hover
        background-color: darken($cyan, 10%)
        box-shadow: 0 3px 0 darken($cyan, 20%)
        color: $white
      &:active
        background-color: darken($cyan, 10%)
        box-shadow: 0 3px 0 darken($cyan, 20%)
        color: $black
      &-blue
        &:hover
          background-color: darken($blue, 10%)
          box-shadow: 0 3px 0 darken($blue, 20%)
          color: $white
        &:active
          background-color: darken($blue, 10%)
          box-shadow: 0 3px 0 darken($blue, 20%)
          color: $black

@media (max-width: $huge)
  .feature
    padding-top: 2rem

@media (max-width: $ex-large)
  .feature
    padding-top: 1rem

@media (max-width: $large)
  .feature
    margin-left: 0
    padding-top: 4rem
    text-align: center
    p
      margin: 0 auto

  // padding
  .pad-top
    padding-top: 3rem

  // socials
  .socials
    padding-top: 0

@media (max-width: $medium)
  // tool
  .tool
    img
      padding-top: 3rem

  // padding
  .pad-top
    padding-top: 0

@media (max-width: $small)
  // logo
  .logo
    width: 6rem
    &-small
      width: 4rem
      padding-bottom: 3rem

  // buttons
  .btn
    &-cta
      &:first-child
        margin-right: 0
        margin-bottom: 1rem
      &:last-child
        margin-left: 0

  // socials
  .socials
    padding-top: 1rem
    &-wrap
      justify-content: center
