.btn-download {
  background-color: var(--download-btn-color);
}

.btn-download:active {
  background-color: var(--download-btn-hover);
}

@media (hover: hover) and (pointer: fine) {
  .btn-download:hover {
    background-color: var(--download-btn-hover);
  }
}
