// Fonts
@font-face
  font-family: 'Barlow-Regular'
  src: url('../fonts/Barlow-Regular.eot')
  src: url('../fonts/Barlow-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Barlow-Regular.woff2') format('woff2'), url('../fonts/Barlow-Regular.woff') format('woff'), url('../fonts/Barlow-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'BarlowCondensed-Regular'
  src: url('../fonts/BarlowCondensed-Regular.eot')
  src: url('../fonts/BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BarlowCondensed-Regular.woff2') format('woff2'), url('../fonts/BarlowCondensed-Regular.woff') format('woff'), url('../fonts/BarlowCondensed-Regular.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'BarlowCondensed-Bold'
  src: url('../fonts/BarlowCondensed-Bold.eot')
  src: url('../fonts/BarlowCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/BarlowCondensed-Bold.woff2') format('woff2'), url('../fonts/BarlowCondensed-Bold.woff') format('woff'), url('../fonts/BarlowCondensed-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

//Base
html, body
  height: 100%

body
  display: flex
  flex-direction: column
  min-height: 100%
  background-color: $white
  background-image: $bg-desktop
  background-repeat: no-repeat
  background-size: 100%
  background-position: top left
  @include font('Barlow-Regular', 62.5%)

body
  *
    font-size: 1rem

*:focus
  outline: none !important

.link
  text-decoration: none
  color: $dark-blue
  transition: all 0.2s ease-out
  &:hover
    color: $dark-blue
    text-decoration: none
  &:active
    color: $dark-blue
    text-decoration: none

#main
  flex: 1 0 auto

#footer
  flex: 0 0 auto

.container-fluid
  padding: 0

h1
  @include font('BarlowCondensed-Bold', 4rem)
  text-transform: uppercase

ul
  list-style: none
  margin: 0
  padding: 0

@media (max-width: $ex-large)
  h1
    font-size: 3rem

@media (max-width: $medium)
  body
    background-image: $bg-mobile

@media (max-width: $small)
  h1
    font-size: 2.2rem
