// header
.header
  position: relative
  padding-top: 3rem

#link_dot
  i
    font-size: 0.5rem
    color: lighten($gray, 10%)
  a
    pointer-events: none

.nav
  &-link
    box-sizing:  content-box
    padding: 0
    display: flex
    align-items: center
    @include font('BarlowCondensed-Bold', 1rem)
    text-transform: uppercase
    transition: none
    border-bottom: 2px solid transparent
    &:active
      color: $dark-blue
      border-bottom: 2px solid $dark-blue

// main
.main
  position: relative
  overflow: hidden
  &-content
    display: flex
    flex-direction: row
    padding: 6rem 0
    color: $dark-blue
    &_pretitle
      @include font('BarlowCondensed-Regular', 1rem)
      text-transform: uppercase
      letter-spacing: 4px
      color: $gray
      span
        padding: 0.3rem 0.7rem
        margin-right: 1rem
        background-color: $dark-blue
        border-radius: 5rem
        @include font('BarlowCondensed-Bold', 1rem)
        color: $white
        text-transform: uppercase
    &_aftertitle
      padding-top: 1rem
      max-width: 18rem
      @include font('Barlow-Regular', 1.2rem)
      color: $gray-blue
    &_buttons
      padding-top: 3rem
  &-img
    width: 200%
    margin-left: 3rem

// footer
.footer
  padding-bottom: 1rem
  text-align: center
  
// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  .nav
    &-link
      &:hover
        color: $gray
        border-bottom: 2px solid $gray
      &:active
        color: $dark-blue
        border-bottom: 2px solid $dark-blue

@media (max-width: $large)
  // main
  .main
    &-img
      width: 300%

@media (max-width: $medium)
  .nav
    width: 15rem
    display: flex
    padding: 1rem 0
    box-sizing: border-box
    position: absolute
    flex-direction: column
    top: 0
    left: 50%
    transform: translate(-50%, -150%)
    transition: transform 0.2s ease
    background-color: $white
    box-shadow: 0 2px 5px lighten($black, 80%)
    z-index: 1000

  #link_dot
    width: 80%
    height: 1px
    margin: 0 auto
    padding: 0
    background-color: lighten($gray, 10%)
    i
      display: none

  // main
  .main
    &-content
      flex-direction: column-reverse
      &_textwrap
        margin-top: 5rem
    &-img
      display: block
      margin: 0 auto
      width: 100%

@media (max-width: $small)
  // main
  .main
    &-content
      &_pretitle
        letter-spacing: 2px
      &_buttons
        padding-top: 1rem
