// header
.logo
  width: 2rem

.li_link
  padding: 0.5rem 1.3rem
  display: flex
  justify-content: center
  align-items: center

.login
  color: $gray
  &:focus
    color: $gray
  &:active
    color: $gray
    border-bottom: 2px solid $gray

#ham
  display: none
  border: none
  z-index: 1000
  background: none
  transition: all 0.1s ease
  i
    font-size: 1.4rem
  &:active
    transform: translateY(2px)

// buttons
.btn
  width: 13rem
  height: 3rem
  padding: 0
  border: 1px solid transparent
  border-radius: 0.5rem
  text-transform: uppercase
  &_demo
    background-color: $red
    color: $white
    @include font('BarlowCondensed-Bold', 1.2rem)
    letter-spacing: 1px
    &:active
      color: $black
      background-color: darken($red, 10%)
  &_preview
    margin-left: 2rem
    @include font('BarlowCondensed-Regular', 1.2rem)
    color: $gray
    letter-spacing: 4px
    &:active
      color: $black
      background-color: darken($red, 10%)

// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  .login
    &:hover
      color: $dark-blue
      border-bottom: 2px solid $dark-blue
    &:active
      color: $gray
      border-bottom: 2px solid $gray

  // buttons
  .btn
    &_demo
      &:hover
        background-color: darken($red, 10%)
        color: $white
      &:active
        color: $black
        background-color: darken($red, 10%)
    &_preview
      &:hover
        background-color: darken($red, 10%)
        color: $white
      &:active
        color: $black
        background-color: darken($red, 10%)

@media (max-width: $ex-large)
  .btn
    &_preview
      margin-left: 1rem

@media (max-width: $large)
  // buttons
  .btn
    width: 100%
    &_preview
      margin-left: 0
      margin-top: 1rem

@media (max-width: $medium)
  #ham
    display: block
