// Fonts
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Base
body {
  .fontMix('OpenSans-Regular', 62.5%);
}

body {
  * {
    font-size: 1rem;
  }
}

*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}

a {
  text-decoration: none;
  color: @white;
  &:hover {
    color: @white;
    text-decoration: none;
  }
  &:focus {
    color: @white;
  }
}

h1 {
  .fontMix('Poppins-SemiBold', 2.2rem);
}

h2 {
  .fontMix('Poppins-SemiBold', 2rem);
}

h3 {
  .fontMix('Poppins-SemiBold', 1.8rem);
}

.btn {
  .fontMix('OpenSans-Bold', 1rem);
}

ul, ol {
  margin: 0;
  padding: 0;
}

// .container__nomargin {
//   margin-left: 0;
//   margin-right: 0;
//   max-width: 100%;
// }

@media (max-width: @ex-large) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: @medium) {
  .container__nomargin {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

@media (max-width: @small) {
  h2 {
    font-size: 1.4rem;
  }
}
