// Main
.main {
  background-color: @neutral-pale-cyan;
  background-image: url('@{IMG_DIR}bg-hero-desktop.svg');
  background-repeat: no-repeat;
  &-nav {
    padding: 2rem 0;
  }
  &-content {
    padding-bottom: 1rem;
  }
  &-content__header {
    padding-top: 2rem;
    h1, p {
      padding-bottom: 1rem;
    }
    h1 {
      line-height: 1.5;
    }
  }
  &-content__img {
    width: 100%;
  }
}

// Features
.features {
  position: relative;
  padding: 5rem 0 15rem;
}

// Footer
.footer {
  padding: 10rem 0 3rem 0;
  background-color: @neutral-dark-cyan;
  color: @white;
  &-content {
    padding-top: 2rem;
  }
  &-copyright {
    width: 100%;
    text-align: right;
  }
}

@media (max-width: @ex-large) {
  // Main
  .main {
    text-align: center;
    &-content__img {
      width: 85%;
      padding-top: 4rem;
    }
  }
}

@media (max-width: @medium) {
  // Footer
  .footer {
    &-copyright {
      text-align: center;
    }
  }
}

@media (max-width: @small) {
  // Footer
  .footer {
    &-copyright {
      font-size: 0.8rem;
    }
  }
}
