// Logo
.logo {
  width: 13rem;
}

// Buttons
.btn {
  border-radius: 2rem;
  &-nav {
    padding: 0.7rem 3rem;
    background-color: @white;
    &:active {
      background-color: darken(@white, 30%);
    }
  }
  &-cta {
    padding: 1rem 4rem;
    color: @white;
    background-color: @primary-pink;
    &:active {
      background-color: darken(@primary-pink, 20%);
      color: @black;
    }
  }
}

// Card
.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
  margin: 2rem 0;
  padding: 2rem;
  &:first-child {
    margin: 0 0 2rem;
  }
  &:last-child {
    margin: 2rem 0 0;
  }
  &-img {
    width: 35%;
  }
  &-content {
    display: flex;
    padding: 0 7rem;
    justify-content: center;
    flex-direction: column;
    p {
      color: @neutral-grayish-blue;
    }
  }
}

.card-reverse {
  flex-direction: row-reverse;
}

//CTA
.cta {
  width: 45rem;
  padding: 2.7rem 0;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -7rem;
  transform: translateX(-50%);
  border-radius: 1rem;
  background-color: @white;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  h2 {
    padding-bottom: 2rem;
  }
  button {
    padding: 1.5rem 6rem;
    border-radius: 3rem;
  }
}

// Footer info
.footer__info {
  display: flex;
  p {
    max-width: 23rem;
  }
}

.footer__icon {
  padding-top: 0.3rem;
  margin-right: 0.5rem;
}

// List
.list {
  list-style: none;
  &-item {
    padding: 0.5rem 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

// Socials
.socials {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  list-style: none;
}

.socials__item {
  padding: 0 0.5rem;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid @white;
    border-radius: 50%;
  }
}

// Desktop hover state handler
@media (hover: hover) and (pointer: fine) {
  // Buttons
  .btn {
    &-nav {
      &:hover {
        background-color: darken(@white, 10%);
      }
      &:active {
        background-color: darken(@white, 30%);
      }
    }
    &-cta {
      &:hover {
        color: @white;
        background-color: darken(@primary-pink, 20%);
      }
      &:active {
        background-color: darken(@primary-pink, 20%);
        color: @black;
      }
    }
  }
}

@media (max-width: @large) {
  // Card
  .card {
    &-content {
      padding: 0 1rem;
    }
  }
}

@media (max-width: @medium) {
  // Card
  .card {
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    &-img {
      width: 20rem;
      margin-bottom: 4rem;
    }
    &-content {
      align-items: center;
      text-align: center;
      h3 {
        padding-bottom: 1rem;
      }
    }
  }

  //CTA
  .cta {
    width:  93%;
    button {
      padding: 1rem 3rem;
      border-radius: 2rem;
    }
  }

  // List
  .list {
    padding: 0.5rem 0;
  }

  // Socials
  .socials {
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: @small) {
  // Logo
  .logo {
    width: 9rem;
  }

  // Buttons
  .btn {
    &-nav {
      padding: 0.6rem 1.5rem;
      background-color: @white;
    }
    &-cta {
      padding: 1rem 3rem;
    }
  }

  // Card
  .card {
    &-img {
      width: 15rem;
    }
    &-content {
      padding: 0;
    }
  }

  //CTA
  .cta {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
