// Paths
@IMG_DIR: '../img/';

// Colors
@primary-pink: hsl(322, 100%, 66%);
@neutral-pale-cyan: hsl(193, 100%, 96%);
@neutral-dark-cyan: hsl(192, 100%, 9%);
@neutral-grayish-blue: hsl(208, 11%, 55%);

@white: #fff;
@black: #000;

// Media breakpoints
@small: 576px;
@medium: 768px;
@large: 992px;
@ex-large: 1200px;
@huge: 1440px;
