// Fonts
@font-face
  font-family 'Raleway-Regular'
  src url('../fonts/Raleway-Regular.eot')
  src url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Regular.woff2') format('woff2'),
      url('../fonts/Raleway-Regular.woff') format('woff'),
      url('../fonts/Raleway-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Raleway-Bold'
  src url('../fonts/Raleway-Bold.eot')
  src url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway-Bold.woff') format('woff'),
      url('../fonts/Raleway-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'OpenSans-Bold'
  src url('../fonts/OpenSans-Bold.eot')
  src url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff'),
      url('../fonts/OpenSans-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'OpenSans-Regular'
  src url('../fonts/OpenSans-Regular.eot')
  src url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

// Base
body
  fontMix('Raleway-Regular', 62.5%)
  color $white
  background-color $primary-formbg

body
  *
    font-size 1rem

*:focus
  outline 0 !important
  -webkit-outline 0 !important
  -moz-outline 0 !important
  -ms-outline 0 !important
  -o-outline 0 !important

a
  text-decoration none
  color $white
  &:hover
    color $white
    text-decoration none
  &:focus
    color $white

ul, ol
  margin 0
  padding 0

button
  fontMix('Raleway-Bold', 1rem)

h1
  fontMix('Raleway-Bold', 2.4rem)

h2
  fontMix('Raleway-Bold', 2.1rem)

h3
  fontMix('Raleway-Bold', 1.4rem)

h4
  fontMix('OpenSans-Bold', 1rem)
  margin 0

.border-underline
  border-bottom: 1px solid $neutral-cyan

.container-fluid
  padding 0 14%

@media (max-width: $huge)
  .container-fluid
    padding 0 11%

@media (max-width: $ex-large)
  .container-fluid
    padding 0 6%

@media (max-width: $medium)
  .container-fluid
    padding 0 4%

@media (max-width: $small)
  h1
    fontMix('Raleway-Bold', 2rem)

  h2
    fontMix('Raleway-Bold', 1.8rem)
