//Header
.navbar
  font-family 'OpenSans-Regular', sans-serif
  padding 3rem 0 5rem
  list-style none
  &-item
    padding 0 1rem

// Main Section
.main
  padding-bottom 10rem
  background-image url(../img/bg-curvy-desktop.svg)
  background-size 100%
  background-repeat no-repeat
  background-position bottom
  text-align center
  &-img
    width: 70%
  &-content
    display flex
    flex-direction column
    align-items center
    h1
      margin-top 3rem
      margin-bottom 2rem
      max-width 50rem
      line-height 1.5
    p
      max-width 30rem
      margin-bottom 2rem

// Features
.features
  background-color $primary-mainbg

// Productive
.productive
  background-color $primary-mainbg
  padding 5rem 0
  &-img
    width 100%
  &-content
    padding-top 5rem
    padding-left 2rem
    h1
      max-width 20rem
      margin-bottom 2rem
    a
      color $neutral-cyan
      i
        margin-left 0.5rem

// Testimonials
.testimonials
  position relative
  background-color $primary-mainbg
  padding 5rem 0 25rem

// CTA
.cta
  background-color $primary-formbg
  position absolute
  bottom: -7rem
  left 50%
  transform translateX(-50%)
  width 60rem
  border-radius 0.4rem
  box-shadow 0 0.5rem 0.1rem 0 rgba(0,0,0, 10%)
  padding 3rem 5rem
  text-align center
  h2
    line-height 1.5
  p
    margin 0 auto
    margin-bottom 2rem
    max-width 45rem

// Footer
.footer
  background-color $primary-footerbg
  padding 13rem 0 3rem
  font-family 'OpenSans-Regular', sans-serif
  &-logo
    padding-bottom 3rem

@media (max-width: $huge)
  // Productive
  .productive
    &-content
      padding-top 0

@media (max-width: $ex-large)
  // Productive
  .productive
    &-content
      padding-left 0

@media (max-width: $large)
  // Main Section
  .main
    background-image url(../img/bg-curvy-mobile.svg)

  // Productive
  .productive
    &-img
      margin-bottom 4rem
    &-wrap
      text-align center

  // CTA
  .cta
    width 90%

@media (max-width: $medium)
  // Main Section
  .main
    &-img
      width: 95%

  // Productive
  .productive
    &-img
      width 90%

  .footer
    &-copyright
      text-align center

@media (max-width: $small)
  //Header
  .navbar
    &-item
      padding 0 0.4rem

  // CTA
  .cta
    padding 3rem 1rem
