// Logo
.logo
  width 10rem

// Buttons
.btn
  background linear-gradient(132deg, $neutral-cyan, $neutral-blue)
  border-radius 4rem
  color $white
  font-size 1rem
  &:active
    background linear-gradient(132deg, $neutral-blue, $neutral-cyan)
    color $black
  &-main
    padding 1rem 6rem
  &-cta
    padding 1rem 3rem
    width 30rem

// Feature
.feature
  padding-bottom 5rem
  display flex
  flex-direction column
  align-items center
  text-align center
  i
    font-size 5rem
    color $neutral-cyan
  h3
    margin-top 2rem
  p
    max-width 25rem
    font-family 'OpenSans-Regular', sans-serif

// Testimonial
.testimonial
  position relative
  background-color $primary-testimonialsbg
  padding 3rem 2rem 2rem 2rem
  border-radius 0.4rem
  box-shadow 0 0.5rem 0.1rem 0 rgba(0,0,0, 2%)
  &-wrap
    display flex
    justify-content center
  &-quotes
    position absolute
    top -2rem
    left -1rem

.media
  padding-top 1rem
  &-img
    width 2.8rem
    border-radius 50%
    margin-right 1rem
  &-body
    p
      font-family 'OpenSans-Regular', sans-serif

// Form
.cta-form
  &-group
    display flex
    justify-content space-between
    &__email
      padding 1.7rem 1rem
      border-radius 5rem
    button
      margin-left 2rem

// Footer info
.footer__info
  display flex

.footer__icon
  padding-top 0.3rem
  margin-right 0.5rem

// List
.list
  list-style none
  &-item
    padding 0.5rem 0
    &:first-child
      padding-top 0
    &:last-child
      padding-bottom 0

// Socials
.socials
  display flex
  width 100%
  justify-content flex-end
  list-style none

.socials__item
  padding 0 0.5rem
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0
  a
    display flex
    align-items center
    justify-content center
    width 2rem
    height 2rem
    border 1px solid @white
    border-radius 50%

@media (hover: hover) and (pointer: fine)
  // Buttons
  .btn
    &:hover
      background linear-gradient(132deg, $neutral-blue, $neutral-cyan)
      color $white
    &:active
      background linear-gradient(132deg, $neutral-blue, $neutral-cyan)
      color $black

@media (max-width: $large)
  // Testimonial
  .testimonial
    max-width 26rem
    margin-bottom 2rem
    &-quotes
      position absolute
      top -2rem
      left -0.2rem

  // Footer info
  .footer__info
    &-wrap
      padding-bottom 1rem

@media (max-width: $medium)
  // Logo
  .logo
    width 7rem

  // Form
  .cta-form
    &-group
      display flex
      flex-direction column
      justify-content space-around
      button
        margin 0
        margin-top 2rem
        width 100%

  // List
  .list
    &-item
      &:first-child
        padding-top 0.5rem

  // Socials
  .socials
    justify-content center
    margin 1rem 0

@media (max-width: $small)
  // Logo
  .logo
    width 5.7rem

  // Testimonial
  .testimonial
    padding 2rem 1.5rem 1.5rem 1.5rem
