.btn-cta {
  color: var(--white);
  background-color: var(--faq-btn-color);
}

.btn-cta__span {
  color: var(--cta-btn-span);
}

.btn-cta:active {
  background-color: var(--faq-btn-hover);
}

@media (hover: hover) and (pointer: fine) {
  .btn-cta:hover {
    background-color: var(--faq-btn-hover);
  }
}
