@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.eot');
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff'), url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.eot');
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 62.5%;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: hsl(0, 100%, 74%);
  background-image: url('../img/bg-intro-desktop.png');
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: inherit;
}
a:focus {
  color: #fff;
}
h1 {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 3rem;
}
#main {
  flex: 1 0 auto;
}
#footer {
  flex: 0 0 auto;
}
.main {
  padding: 7% 0;
}
.main-content {
  padding-top: 8rem;
  color: #fff;
}
.main-content p {
  padding-top: 1.5rem;
}
.footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}
@media (max-width: 992px) {
  .main-content h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .main-content {
    padding: 0 0 2rem;
    text-align: center;
  }
  .main-content h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .main-content h1 {
    font-size: 2.2rem;
  }
}
.main-button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: #fff;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.7rem;
  font-size: 0.8rem;
  box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2 ease-out;
}
.main-button span {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 0.8rem;
}
.main-button:focus {
  box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.15);
  color: #fff;
}
.main-button:active {
  background-color: hsl(248, 32%, 39%);
  color: #fff;
  box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.25);
}
.form {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.15);
}
.form-group {
  text-align: right;
}
.form-input {
  margin: 1rem 0 0.2rem;
  padding: 1.5rem;
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 0.8rem;
}
.form-error {
  display: none;
  font-size: 0.7rem;
  color: hsl(0, 100%, 74%);
}
.form-button {
  margin-bottom: 1rem;
  padding: 0.8rem;
  width: 100%;
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0 0.2rem 0 0 hsl(154, 59%, 46%);
  text-transform: uppercase;
}
.form-button:focus {
  box-shadow: 0 0.2rem 0 0 hsl(154, 59%, 46%);
  color: #fff;
}
.form-button:active {
  background-color: hsl(154, 59%, 41%);
  box-shadow: 0 0.2rem 0 0 hsl(154, 59%, 36%);
  color: #fff;
}
.form-small {
  font-size: 0.7rem;
  color: hsl(246, 25%, 77%);
}
.form-small a {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 0.7rem;
  color: hsl(0, 100%, 74%);
}
@media (hover: hover) and (pointer: fine) {
  .main-button:hover {
    background-color: hsl(248, 32%, 39%);
    box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  .main-button:focus {
    color: #fff;
  }
  .main-button:active {
    background-color: hsl(248, 32%, 39%);
    color: #000;
    box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.25);
  }
  .form-button:hover {
    background-color: hsl(154, 59%, 41%);
    box-shadow: 0 0.2rem 0 0 hsl(154, 59%, 36%);
    color: #fff;
  }
  .form-button:focus {
    color: #fff;
  }
  .form-button:active {
    background-color: hsl(154, 59%, 41%);
    box-shadow: 0 0.2rem 0 0 hsl(154, 59%, 36%);
    color: #000;
  }
}
@media (max-width: 576px) {
  .main-button {
    padding: 1rem 0.5rem;
  }
  .form {
    padding: 1rem;
  }
  .form-button {
    padding: 0.8rem 0.4rem;
  }
  .form-small {
    display: inline-block;
    max-width: 16rem;
  }
}
.active {
  display: block;
}
.error {
  border: 1px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}
.error::placeholder {
  color: hsl(0, 100%, 74%);
}
