@media (min-width: 576px) {
  .pictures__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .pictures__group {
    flex-direction: row;
  }
}
