.pictures__content {
  margin: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .pictures__content {
    flex-direction: row;
  }
}
