//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Fylo'}

//- Mixins
mixin menuButton(buttonData)
  button(class=buttonData.classes)
    i(class=buttonData.icon.classes)
      
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/fylo-data-storage-component-1dZPRbV5n")
    meta(name="author" content="Dmitriy Granyov")
    title Fylo Data Storage Component
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="css/style.css")
  body
    main#main
      .container-fluid
        .main-wrap
          .main-content
            .menu
              img.menu-logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
              .menu-buttons
                - const menu_buttons = []
                - menu_buttons.push({classes: 'menu__btn', icon: {classes: 'fas fa-file'}})
                - menu_buttons.push({classes: 'menu__btn', icon: {classes: 'fas fa-folder'}})
                - menu_buttons.push({classes: 'menu__btn', icon: {classes: 'fas fa-cloud-upload-alt'}})
                each button in menu_buttons
                  +menuButton(button)
            .data
              p.data-text
                | You’ve used 
                span.data-value 
                span &nbsp;GB 
                | of your storage
              input#slider.slider(type="range" min="1" max="1000" value="15" onload="refreshValues();")
              .slider-data__container
                .slider-data__min 0 GB
                .slider-data__max 1000 GB
              .data-left
                span.data-value__reverse 
                p gb left
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    script(src="js/main.js")
