.cta__title {
  font-family: "RedHatDisplay-Black", sans-serif;
  font-size: 32px;
  line-height: 36px;
  color: var(--heading);
  margin: 0 auto;
  max-width: 300px;
  color: var(--white);
}

@media (min-width: 768px) {
  .cta__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 350px;
  }
}
