/*!
 * Bootstrap Reboot v4.5.0 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
@font-face {
  font-family: 'JosefinSansSemiBold';
  src: url('../fonts/JosefinSans-SemiBold.eot');
  src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'), url('../fonts/JosefinSans-SemiBold.woff') format('woff'), url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSansLight';
  src: url('../fonts/JosefinSans-Light.eot');
  src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-Light.woff2') format('woff2'), url('../fonts/JosefinSans-Light.woff') format('woff'), url('../fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSansRegular';
  src: url('../fonts/JosefinSans-Regular.eot');
  src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-Regular.woff2') format('woff2'), url('../fonts/JosefinSans-Regular.woff') format('woff'), url('../fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'JosefinSansRegular', sans-serif;
  font-size: 62.5%;
  color: hsl(0, 6%, 24%);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url('../img/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 62%;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
a {
  text-decoration: none;
  color: hsl(0, 6%, 24%);
}
a:hover {
  color: hsl(0, 6%, 24%);
  text-decoration: none;
}
a:focus {
  color: hsl(0, 6%, 24%);
}
h1 {
  font-family: 'JosefinSansLight', sans-serif;
  font-size: 5.6rem;
}
.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 992px) {
  body {
    background-size: cover;
  }
}
.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas: "c1 c3" "c2 c3";
  grid-gap: 0 2rem;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "c1" "c3" "c2";
  }
}
.main-logo {
  grid-area: c1;
  padding: 5rem 0 0 12rem;
}
.main-logo img {
  width: 15rem;
}
.main-content {
  grid-area: c2;
  padding: 5rem 0 3rem 12rem;
  max-width: 50rem;
  color: hsl(0, 36%, 70%);
  font-size: 1.4rem;
}
.main-content h1 {
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.4rem;
}
.main-content h1 span {
  font-family: 'JosefinSansSemiBold', sans-serif;
  font-size: inherit;
  color: hsl(0, 6%, 24%);
}
.main-content p {
  padding: 1rem 0;
}
.main-img {
  grid-area: c3;
  background-image: url('../img/hero-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1440px) {
  .main-logo {
    padding: 5rem 0 0 6rem;
  }
  .main-content {
    max-width: 44rem;
    padding-left: 6rem;
  }
}
@media (max-width: 1200px) {
  .main-content {
    max-width: 39rem;
    font-size: 1.4rem;
  }
  .main-content h1 {
    font-size: 4.4rem;
  }
  .main-content h1 span {
    font-size: inherit;
  }
}
@media (max-width: 992px) {
  .main-logo {
    padding: 5rem 0 0 3rem;
  }
  .main-content {
    padding-left: 3rem;
  }
  .main-img {
    grid-area: c3;
    background-image: none;
  }
}
@media (max-width: 768px) {
  .main-logo {
    padding: 3rem 0.5rem;
  }
  .main-logo img {
    width: 10rem;
  }
  .main-content {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5rem 0.5rem 3rem;
  }
  .main-content h1 {
    text-align: inherit;
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 1rem;
  }
  .main-content p {
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
  }
  .main-img {
    height: 25rem;
    background-image: url('../img/hero-mobile.jpg');
  }
}
.form {
  padding: 2rem 0 0;
}
.form-group {
  position: relative;
}
.form-email {
  min-width: 0;
  width: 100%;
  padding: 1.2rem 3rem;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 3rem;
  font-size: 1.4rem;
  background: transparent;
}
.form-email::placeholder {
  color: hsl(0, 36%, 70%);
}
.form-error {
  display: none;
  position: absolute;
  left: 3.1rem;
  top: 5.5rem;
  color: hsl(0, 93%, 68%);
}
.form-errorimg {
  display: none;
  position: absolute;
  right: 10rem;
  top: 50%;
  transform: translateY(-50%);
}
.form-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8.5rem;
  border-radius: 3rem;
  height: 4.6rem;
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
.form-btn:active {
  background: linear-gradient(hsl(0, 80%, 86%) 0%, hsl(0, 93%, 68%) 100%);
}
@media (hover: hover) and (pointer: fine) {
  .form-btn:hover {
    background: linear-gradient(hsl(0, 80%, 86%) 0%, hsl(0, 93%, 68%) 100%);
  }
  .form-btn:active {
    background: linear-gradient(hsl(0, 80%, 86%) 100%, hsl(0, 74%, 74%) 0%);
  }
}
@media (max-width: 768px) {
  .form-email {
    padding: 1.2rem 1.5rem;
    font-size: 1rem;
  }
  .form-errorimg {
    right: 9rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .form-btn {
    position: absolute;
    right: 0;
    width: 8.5rem;
    border-radius: 3rem;
    height: 4.1rem;
  }
}
.active {
  display: block;
}
.error {
  border: 1px solid hsl(0, 93%, 68%);
  color: hsl(0, 93%, 68%);
}
.error::placeholder {
  color: hsl(0, 93%, 68%);
}
