// Fonts
@font-face
  font-family: 'Poppins-Regular'
  src: url('../fonts/Poppins-Regular.eot')
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Poppins-ExtraLight'
  src: url('../fonts/Poppins-ExtraLight.eot')
  src: url('../fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-ExtraLight.woff2') format('woff2'), url('../fonts/Poppins-ExtraLight.woff') format('woff'), url('../fonts/Poppins-ExtraLight.ttf') format('truetype')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Poppins-SemiBold'
  src: url('../fonts/Poppins-SemiBold.eot')
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

//Base
html, body
  height: 100%

body
  display: flex
  flex-direction: column
  min-height: 100%
  background-color: $neutral-light-gray
  @include font('Poppins-Regular', 62.5%)
  text-align: center
  color: $neutral-dark-blue

body
  *
    font-size: 1rem

*:focus
  outline: none !important
  -webkit-outline: none !important
  -moz-outline: none !important
  -ms-outline: none !important
  -o-outline: none !important

a
  text-decoration: none
  color: $neutral-dark-blue
  &:focus
    color: $neutral-dark-blue
  &:hover
    color: $neutral-dark-blue
    text-decoration: none

h1, h2, h3
  margin: 0

h1
  @include font('Poppins-ExtraLight', 2.2rem)
  font-weight: 200

h2
  @include font('Poppins-SemiBold', 2.2rem)

h3
  @include font('Poppins-SemiBold', 1.3rem)

p
  font-size: 1rem

#main
  flex: 1 0 auto

#footer
  flex: 0 0 auto

.container-fluid
  padding: 0 14%

@media (max-width: $medium)
  h1, h2, h3
    font-size: 1.8rem

@media (max-width: $small)
  h1
    font-size: 1.4rem

  h2, h3
    font-size: 1.3rem

  .container-fluid
    padding: 0 7%
