// Grid
.grid-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr
    grid-gap: 1rem 1rem
    grid-template-areas: ". c2 ." "c1 c2 c4" "c1 c3 c4" ". c3 ."

@media (max-width: $ex-large)
  .grid-container
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    grid-template-areas: "c1 c2" "c3 c4"

@media (max-width: $medium)
  .grid-container
    display: block
