.main
  &-header
    padding: 2rem
    h1
      padding-bottom: 1rem
    &-text
      display: inline-block
      max-width: 42%
      color: $neutral-grayish-blue

#footer
  text-align: center
  font-size: 0.8rem
  padding: 1rem 0

@media (max-width: $ex-large)
  .main
    &-header
      &-text
        max-width: 80%

@media (max-width: $medium)
  .main
    &-header
      &-text
        max-width: 100%
