// Cards
.card
  display: grid
  padding: 7%
  grid-template-columns: 1fr
  grid-template-rows: 20% 1fr 1fr
  grid-template-areas: "header" "body" "footer"
  border: none
  border-radius: 0.5rem
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1)
  text-align: left
  &-text
    color: $neutral-grayish-blue
    line-height: 1.5
  &-image
    width: 6rem
    grid-area: footer
    place-self: end
  &-one
    border-top: 5px solid $primary-cyan
    grid-area: c1
  &-two
    border-top: 5px solid $primary-red
    grid-area: c2
  &-three
    border-top: 5px solid $primary-orange
    grid-area: c3
  &-four
    border-top: 5px solid $primary-blue
    grid-area: c4

@media (max-width: $medium)
  .card
    margin-bottom: 1rem
    &-image
      width: 5rem
