doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap-reset">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/single-price-grid-component-5ce41129d0ff452fec5abbbc")
    meta(name="author" content="Dmitriy Granyov")
    title Single Price Grid Component
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    link(rel="stylesheet" href="css/style.css")
  body
    main#main.main
      .container-fluid
        .grid
          .grid-item.main-header
            h3 Join our community
            h4 30-day, hassle-free money back guarantee
            p.
              Gain access to our full library of tutorials along with expert code reviews. #[br]
              Perfect for any developers who are serious about honing their skills
          .grid-item.main-cta
            h4 Monthly subsciption
            span
              strong $29
              | per month
            p Full access for less than 1$ a day
            button.button Sign up
          .grid-item.main-info
            h4 Why Us
            p.
              Tutorials by industry experts #[br]
              Peer & expert code review #[br]
              Coding exercises #[br]
              Access to our GitHub repos #[br]
              Community forum #[br]
              Flashcard decks #[br]
              New videos every week
