.hero__content {
  margin-bottom: 450px;
}

@media (min-width: 768px) {
  .hero__content {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .hero__content {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}
