.img {
  position: absolute;
  margin: 0;
  margin-top: 65px;
  padding: 0;
  width: 360px;
  height: 370px;
  right: 0;
  background-image: url(../../img/image-mobile-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0 0 20px;
  border: 0;
  line-height: 0;
}

@media (min-width: 768px) {
  .img {
    margin-top: 0;
    top: 0;
    width: 330px;
    height: 100%;
    background-image: url(../../img/image-tablet-keyboard.jpg);
  }
}

@media (min-width: 992px) {
  .img {
    height: 370px;
    border-radius: 20px;
    position: relative;
    width: 360px;
    background-image: url(../../img/image-desktop-keyboard.jpg);
  }
}

@media (min-width: 1200px) {
  .img {
    width: 500px;
  }
}
