@font-face {
  font-family: 'BaiJamjuree-Regular';
  src: url("../fonts/BaiJamjuree-Regular.eot");
  src: url("../fonts/BaiJamjuree-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BaiJamjuree-Regular.woff2") format("woff2"), url("../fonts/BaiJamjuree-Regular.woff") format("woff"), url("../fonts/BaiJamjuree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BaiJamjuree-SemiBold';
  src: url("../fonts/BaiJamjuree-SemiBold.eot");
  src: url("../fonts/BaiJamjuree-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BaiJamjuree-SemiBold.woff2") format("woff2"), url("../fonts/BaiJamjuree-SemiBold.woff") format("woff"), url("../fonts/BaiJamjuree-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  background-color: #fff;
  font-family: "BaiJamjuree-Regular", sans-serif;
  font-size: 62.5%;
  color: #4c545d; }

body * {
  font-size: 1rem; }

*:focus {
  outline: none !important; }

.link {
  text-decoration: none;
  color: #4c545d;
  transition: all 0.2s ease-out; }
  .link:focus {
    color: #26baa4;
    text-decoration: none; }

h1 {
  font-family: "BaiJamjuree-SemiBold", sans-serif;
  font-size: 2.8rem; }

h2 {
  font-family: "BaiJamjuree-SemiBold", sans-serif;
  font-size: 2.2rem; }

h3 {
  font-family: "BaiJamjuree-SemiBold", sans-serif;
  font-size: 1.6rem; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container-fluid {
  padding: 0; }

@media (hover: hover) and (pointer: fine) {
  .link:focus {
    color: #4c545d;
    text-decoration: none; }
  .link:hover {
    color: #26baa4;
    text-decoration: none; } }

@media (max-width: 576px) {
  h1 {
    font-family: "BaiJamjuree-SemiBold", sans-serif;
    font-size: 2rem; }
  h2 {
    font-family: "BaiJamjuree-SemiBold", sans-serif;
    font-size: 1.8rem; }
  h3 {
    font-family: "BaiJamjuree-SemiBold", sans-serif;
    font-size: 1.5rem; } }

.header {
  background-image: url(../img/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  text-align: center; }
  .header-content {
    padding-top: 8rem;
    padding-bottom: 10rem;
    display: flex;
    flex-flow: column;
    align-items: center; }
  .header-main {
    padding-top: 4rem; }
    .header-main-text {
      max-width: 48rem;
      padding-top: 0.8rem;
      color: #9fabb2;
      font-size: 1.3rem; }
  .header-buttons {
    padding-top: 2rem;
    display: flex;
    flex-direction: row; }

.features {
  padding-bottom: 12rem; }
  .features-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center; }
    .features-header-text {
      padding-top: 1rem;
      max-width: 48rem;
      font-size: 1.2rem;
      color: #9fabb2; }
  .features-content {
    position: relative;
    padding-top: 3rem;
    display: flex;
    flex-direction: row; }
  .features-img {
    position: absolute;
    width: 100%;
    left: -2.5rem; }

.devices {
  padding-bottom: 5rem;
  text-align: center; }
  .devices-header {
    padding: 6rem 0;
    display: flex;
    flex-flow: column; }
    .devices-header-text {
      padding-top: 1rem;
      margin: 0 auto;
      max-width: 45rem;
      font-size: 1.2rem;
      color: #9fabb2; }
  .devices-img {
    width: 100%; }

.tools-header {
  text-align: center; }
  .tools-header-text {
    padding-top: 1rem;
    color: #9fabb2;
    font-size: 1.2rem; }

.tools-content {
  padding-top: 4rem; }

.tools-companies {
  padding: 10rem 0; }
  .tools-companies-img {
    margin: 0 auto;
    width: 100%; }

.cta {
  text-align: center;
  padding-bottom: 10rem; }
  .cta-content-text {
    margin: 0 auto;
    padding-top: 1rem;
    max-width: 45rem;
    color: #9fabb2;
    font-size: 1.2rem; }
  .cta-buttons {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }

.footer {
  padding: 3rem 0 0;
  background-color: #e6e9eb; }
  .footer-link {
    display: block;
    padding-bottom: 1rem;
    font-size: 1.2rem; }
  .footer-author {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center; }

@media (max-width: 992px) {
  .features-content {
    flex-direction: column;
    align-items: center; }
  .features-img {
    position: relative;
    left: 0; }
  .devices-header {
    padding: 0 0 4rem; }
  .tools-companies-img {
    width: 10rem; }
  .footer-link {
    font-size: 1rem; } }

@media (max-width: 768px) {
  .tools-companies {
    padding: 7rem 0; }
    .tools-companies-img {
      padding: 3rem 0; } }

@media (max-width: 576px) {
  .header {
    background-image: url(../img/bg-header-mobile.png); }
    .header-content {
      padding-top: 4rem; }
    .header-main {
      padding-top: 3rem; }
    .header-buttons {
      flex-direction: column; }
  .cta-buttons {
    flex-direction: column;
    align-items: center; }
  .footer {
    text-align: center; } }

.logo {
  width: 8rem; }
  .logo-small {
    width: 4rem; }

.btn-cta {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: #26baa4;
  box-shadow: 0 3px 0 #1d907f;
  font-family: "BaiJamjuree-SemiBold", sans-serif;
  font-size: 1.2rem;
  color: #fff; }
  .btn-cta-blue {
    background-color: #6173ff;
    box-shadow: 0 3px 0 #2e46ff; }
    .btn-cta-blue:active {
      background-color: #2e46ff;
      box-shadow: 0 3px 0 #001dfa;
      color: #000; }
  .btn-cta:active {
    background-color: #1d907f;
    box-shadow: 0 3px 0 #156659;
    color: #000; }
  .btn-cta:first-child {
    margin-right: 0.5rem; }
  .btn-cta:last-child {
    margin-left: 0.5rem; }

.feature {
  padding-top: 5rem;
  margin-left: 5rem; }
  .feature p {
    max-width: 21rem;
    color: #9fabb2;
    line-height: 1.8; }

.tool {
  text-align: center; }
  .tool img {
    width: 3rem; }
  .tool h3 {
    padding-top: 3rem; }
  .tool p {
    margin: 0 auto;
    max-width: 22rem;
    padding-top: 1rem;
    color: #9fabb2; }

.cent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.socials {
  width: 8rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .socials-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .socials-icon {
    font-size: 1.8rem; }

@media (hover: hover) and (pointer: fine) {
  .btn-cta:hover {
    background-color: #1d907f;
    box-shadow: 0 3px 0 #156659;
    color: #fff; }
  .btn-cta:active {
    background-color: #1d907f;
    box-shadow: 0 3px 0 #156659;
    color: #000; }
  .btn-cta-blue:hover {
    background-color: #2e46ff;
    box-shadow: 0 3px 0 #001dfa;
    color: #fff; }
  .btn-cta-blue:active {
    background-color: #2e46ff;
    box-shadow: 0 3px 0 #001dfa;
    color: #000; } }

@media (max-width: 1400px) {
  .feature {
    padding-top: 2rem; } }

@media (max-width: 1200px) {
  .feature {
    padding-top: 1rem; } }

@media (max-width: 992px) {
  .feature {
    margin-left: 0;
    padding-top: 4rem;
    text-align: center; }
    .feature p {
      margin: 0 auto; }
  .pad-top {
    padding-top: 3rem; }
  .socials {
    padding-top: 0; } }

@media (max-width: 768px) {
  .tool img {
    padding-top: 3rem; }
  .pad-top {
    padding-top: 0; } }

@media (max-width: 576px) {
  .logo {
    width: 6rem; }
    .logo-small {
      width: 4rem;
      padding-bottom: 3rem; }
  .btn-cta:first-child {
    margin-right: 0;
    margin-bottom: 1rem; }
  .btn-cta:last-child {
    margin-left: 0; }
  .socials {
    padding-top: 1rem; }
    .socials-wrap {
      justify-content: center; } }
