@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Bold.woff2") format('woff2'), url("../fonts/OpenSans-Bold.woff") format('woff'), url("../fonts/OpenSans-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Regular.woff2") format('woff2'), url("../fonts/OpenSans-Regular.woff") format('woff'), url("../fonts/OpenSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-SemiBold.woff2") format('woff2'), url("../fonts/OpenSans-SemiBold.woff") format('woff'), url("../fonts/OpenSans-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Poppins-Bold.woff2") format('woff2'), url("../fonts/Poppins-Bold.woff") format('woff'), url("../fonts/Poppins-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 62.5%;
  color: #00252e;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
  color: #fff;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 2.8rem;
}
h2 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 1.8rem;
}
p {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 1rem;
}
span {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 1rem;
}
.container-fluid {
  padding: 0 12%;
}
@media (max-width: 1440px) {
  .container-fluid {
    padding: 0 12%;
  }
}
@media (max-width: 1200px) {
  .container-fluid {
    padding: 0 7%;
  }
}
@media (max-width: 992px) {
  .container-fluid {
    padding: 0 3%;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}
.header {
  padding: 5rem 0;
}
.navbar {
  padding: 0;
}
.main {
  text-align: center;
  padding: 6rem 0 0;
}
.main-content p {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 30rem;
}
.main-content button {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 1rem;
}
.main-img {
  width: 92%;
  padding: 6rem 0;
}
.statistics {
  padding: 2rem 0 4rem;
}
.feature-bg,
.footer-bg {
  width: 100%;
  height: 14rem;
  background-repeat: no-repeat;
  background-size: 100%;
}
.feature-bg-top_1 {
  background-image: url("../img/bg-section-top-desktop-1.svg");
  background-position: bottom;
}
.feature-bg-top_2 {
  background-image: url("../img/bg-section-top-desktop-2.svg");
  background-position: bottom;
}
.feature-bg-bottom_1 {
  background-image: url("../img/bg-section-bottom-desktop-1.svg");
  background-position: top;
}
.feature-bg-bottom_2 {
  background-image: url("../img/bg-section-bottom-desktop-2.svg");
  background-position: top;
}
.cta {
  padding: 5rem 0 10rem;
  text-align: center;
}
.cta h1 {
  margin-bottom: 3rem;
}
.footer-bg-top {
  background-image: url("../img/bg-footer-top-desktop.svg");
  background-position: bottom;
}
.footer-content {
  padding-top: 5rem;
  background-color: #00252e;
  color: #fff;
}
.footer-author {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.footer-logo {
  padding-bottom: 2rem;
}
@media (max-width: 992px) {
  .statistics {
    padding-bottom: 0;
  }
  .feature-bg,
  .footer-bg {
    background-size: 100% 50%;
  }
  .feature-bg-top_1 {
    background-image: url("../img/bg-section-top-mobile-1.svg");
  }
  .feature-bg-top_2 {
    background-image: url("../img/bg-section-top-mobile-2.svg");
  }
  .feature-bg-bottom_1 {
    background-image: url("../img/bg-section-bottom-mobile-1.svg");
  }
  .feature-bg-bottom_2 {
    background-image: url("../img/bg-section-bottom-mobile-2.svg");
  }
  .cta {
    padding-top: 0;
  }
  .footer-bg-top {
    background-image: url("../img/bg-footer-top-mobile.svg");
    background-position: bottom;
  }
  .footer-content {
    padding-top: 0;
  }
  .footer-author {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 2rem 0;
  }
  .main {
    padding: 5rem 0 0;
  }
  .statistics {
    padding-top: 0;
  }
}
.logo {
  width: 13rem;
}
.btn {
  border-radius: 5rem;
  transition: all 0.2s ease-out;
  border: 1px solid #ff52bf;
}
.btn-nav {
  padding: 0.5rem 2rem;
  background-color: #fff;
  color: #ff52bf;
}
.btn-nav:active {
  background-color: #ff52bf;
  color: #000;
}
.btn-cta {
  padding: 1.3rem 4.5rem;
  background-color: #ff52bf;
  box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0,0,0,0.1);
  color: #fff;
}
.btn-cta:active {
  background-color: #fff;
  color: #000;
}
.btn-subscribe {
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ff52bf;
  background-color: #ff52bf;
  color: #fff;
}
.statistics__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics__card span {
  font-size: 5rem;
}
.statistics__card p {
  font-size: 1.4rem;
  color: #808080;
}
.statistics__img {
  width: 3.5rem;
  margin-right: 10rem;
}
.feature-colored {
  background-color: #f5faff;
}
.feature-content {
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.feature__img {
  margin: 0 4rem;
  width: 45%;
}
.feature__text {
  margin: 0 4rem;
}
.feature__text h1 {
  padding: 6rem 0 1rem;
}
.feature__text p {
  max-width: 39rem;
}
.feature-reverse {
  flex-direction: row-reverse;
}
.footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  max-width: 20rem;
}
.footer__info i {
  margin-right: 1rem;
}
.footer__info p {
  margin: 0;
}
.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 3rem;
}
.socials__item {
  padding: 0 0.5rem;
}
.socials__item:first-child {
  padding-left: 0;
}
.socials__item:last-child {
  padding-right: 0;
}
.socials__item i {
  font-size: 2.4rem;
}
.footer-form {
  width: 90%;
  padding-bottom: 2rem;
}
.footer-form__email {
  padding: 1.6rem;
}
.footer-form__btn {
  margin-left: 3rem;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 1rem;
}
.footer-form h2 {
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.footer-form p {
  max-width: 24rem;
  padding-bottom: 1rem;
}
.form-group {
  display: flex;
}
@media (hover: hover) and (pointer: fine) {
  .btn-nav:hover {
    background-color: #ff52bf;
    color: #fff;
  }
  .btn-nav:active {
    background-color: #ff52bf;
    color: #000;
  }
  .btn-cta:hover {
    background-color: #fff;
    color: #ff52bf;
  }
  .btn-cta:active {
    background-color: #fff;
    color: #000;
  }
}
@media (max-width: 1440px) {
  .feature__img {
    margin: 0 2rem;
  }
  .feature__text {
    margin: 0 2rem;
  }
  .feature__text h1 {
    padding-top: 5rem;
  }
  .footer-form {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .feature-content {
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feature__img {
    width: 80%;
  }
  .form-group {
    flex-direction: column;
    align-items: flex-end;
  }
  .footer-form__btn {
    margin-left: 0;
    margin-top: 1rem;
  }
  .socials {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .statistics__card {
    padding-bottom: 7rem;
  }
  .statistics__card:last-child {
    padding-bottom: 0;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 10rem;
  }
  .btn-nav {
    padding: 0.4rem 1.5rem;
  }
  .btn-cta {
    padding: 1.3rem 3rem;
  }
}
