// Fonts
@font-face
  font-family 'LibreFranklin-SemiBold'
  src url('../fonts/LibreFranklin-SemiBold.eot')
  src url('../fonts/LibreFranklin-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'), url('../fonts/LibreFranklin-SemiBold.woff') format('woff'), url('../fonts/LibreFranklin-SemiBold.ttf') format('truetype')
  font-weight 600
  font-style normal

@font-face
  font-family 'LibreFranklin-Light'
  src url('../fonts/LibreFranklin-Light.eot')
  src url('../fonts/LibreFranklin-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-Light.woff2') format('woff2'), url('../fonts/LibreFranklin-Light.woff') format('woff'), url('../fonts/LibreFranklin-Light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'LibreFranklin-Bold'
  src url('../fonts/LibreFranklin-Bold.eot')
  src url('../fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-Bold.woff2') format('woff2'), url('../fonts/LibreFranklin-Bold.woff') format('woff'), url('../fonts/LibreFranklin-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

// Base
body
  fontMix('LibreFranklin-Light', 62.5%)
  color $black

body
  *
    font-size 1rem

*:focus
  outline 0 !important
  -webkit-outline 0 !important
  -moz-outline 0 !important
  -ms-outline 0 !important
  -o-outline 0 !important

a
  text-decoration none
  color $primary-blue
  &:hover
    color $primary-blue
    text-decoration none
  &:focus
    color $primary-blue

h1
  fontMix('LibreFranklin-SemiBold', 3rem)

.container
  width 100%
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto

@media (min-width: $small)
  .container
    max-width 540px

@media (min-width: $medium)
  .container
    max-width 720px

@media (min-width: $large)
  .container
    max-width 960px

@media (min-width: $ex-large)
  .container
    max-width 1140px
