// Layout
// Header
#header
  text-align center
  padding 4rem

// Main
.main
  text-align center
  &-header
    color $neutral-gray
    span
      fontMix('LibreFranklin-Bold', 3rem)
      color $black
  &-subheader
    padding 1rem 0
  &-img
    width 70%
    padding 4rem 0

// Footer
.footer
  text-align center
  padding-bottom 1rem
  font-size 0.8rem
  &-copyright
    font-size inherit
  &-author
    font-size inherit

@media (max-width: $large)
  .main
    &-img
      width 90%

@media (max-width: $medium)
  #header
    padding 3rem 0

  .main
    &-header
      font-size 1.8rem
      span
        font-size 1.8rem
    &-img
      width 100%
