// Modules
// Socials
.socials
  display block
  margin 0 auto
  padding 0 0 2rem 0
  list-style none
  text-align center

.socials__item
  display inline-block
  text-align inherit
  padding 0 0.5rem
  a
    display inherit
    width 2rem
    height 2rem
    font-size 1rem
    border 1px solid $light-gray
    border-radius 50%
    padding-top 0.25rem
    text-align inherit
    transition all 0.2s ease-out
    &:active
      border 1px solid $primary-blue
      background-color $primary-blue
      color $white

.form
  &-group
    position relative
    padding 0 16rem
    display flex
    justify-content space-between
    padding-bottom 2.5rem
  &-input
    width 60%
    border-radius 4rem
    font-size 1rem
    padding 0.8rem 1.5rem
    border 1px solid $light-gray
  &-submit
    fontMix('LibreFranklin-SemiBold', 0.8rem)
    width 30%
    color $white
    border-radius: 4rem
    background-color: $primary-blue
    border 1px solid $primary-blue
    transition all 0.2s ease-out
    &:active
      border 1px solid $primary-blue
      background-color transparent
      color $primary-blue
  &-error
    position absolute
    top 4rem
    display none
    padding-left 1.6rem
    color $secondary-light-red
    text-align left

// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  .socials__item
    a
      &:hover
        border 1px solid $primary-blue
        background-color $primary-blue
        color $white
      &:active
        border 1px solid $primary-blue
        background-color $primary-blue
        color $black

  .form
    &-submit
      &:hover
        border 1px solid $primary-blue
        background-color transparent
        color $primary-blue
      &:active
        border 1px solid $primary-blue
        background-color transparent
        color $black

@media (max-width: $ex-large)
  .form
    &-group
      padding 0 10rem

@media (max-width: $large)
  .form
    &-group
      padding 0 3rem

@media (max-width: $medium)
  .form
    &-group
      padding 0

@media (max-width: $small)
  .form
    &-group
      display block
      padding-bottom 1rem
    &-input
      display inherit
      width 100%
    &-submit
      display inherit
      width 100%
      padding 1rem 0
      margin-top 1rem
    &-error
      position static
      padding-top 0.5rem
