.img-overlay {
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--cta-bg);
  border-radius: 0 20px 20px 0;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .img-overlay {
    border-radius: 20px;
  }
}
