.left-img {
  width: 130px;
  height: 190px;
  background-image: url(../../img/image-mobile-phone-and-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
  border-radius: 0 20px 20px 0;
}

@media (min-width: 768px) {
  .left-img {
    width: 214px;
    height: 320px;
    background-image: url(../../img/image-tablet-phone-and-keyboard.jpg);
    border-radius: 20px;
    margin-right: 25px;
  }
}

@media (min-width: 992px) {
  .left-img {
    width: 255px;
    height: 480px;
    background-image: url(../../img/image-desktop-phone-and-keyboard.jpg);
  }
}
