.main__subtitle {
  margin-top: 25px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .main__subtitle {
    margin-top: 0;
    max-width: 380px;
  }
}

@media (min-width: 992px) {
  .main__subtitle {
    margin-top: 25px;
  }
}
