.main__title {
  max-width: 240px;
  margin: 0 auto;
  color: var(--headings);
  text-transform: uppercase;
  font-family: "Barlow-Black", sans-serif;
  font-size: 2rem;
  line-height: 36px;
}

@media (min-width: 768px) {
  .main__title {
    margin: 0;
  }
}
