.main__group {
  padding-top: 260px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  .main__group {
    padding-top: 70px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .main__group {
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .main__group {
    margin-left: 0;
  }
}
