.right-img {
  width: 220px;
  height: 190px;
  background-image: url(../../img/image-mobile-glass-and-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .right-img {
    width: 445px;
    height: 320px;
    background-image: url(../../img/image-tablet-glass-and-keyboard.jpg);
  }
}

@media (min-width: 992px) {
  .right-img {
    width: 445px;
    height: 480px;
    background-image: url(../../img/image-desktop-glass-and-keyboard.jpg);
  }
}
