// Fonts
@font-face
  font-family 'Karla-Regular'
  src url('../fonts/Karla-Regular.eot')
  src url('../fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Karla-Regular.woff2') format('woff2'), url('../fonts/Karla-Regular.woff') format('woff'), url('../fonts/Karla-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Karla-Bold'
  src url('../fonts/Karla-Bold.eot')
  src url('../fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Karla-Bold.woff2') format('woff2'), url('../fonts/Karla-Bold.woff') format('woff'), url('../fonts/Karla-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

// Base
body
  fontMix('Karla-Regular', 62.5%)
  color $white
  text-align left

body
  *
    font-size 1rem

*:focus
  outline 0 !important
  -webkit-outline 0 !important
  -moz-outline 0 !important
  -ms-outline 0 !important
  -o-outline 0 !important

a
  text-decoration none
  color $white
  &:hover
    color $white
    text-decoration none
  &:focus
    color $white

h3
  fontMix('Karla-Bold', 2.2rem)

h4
  fontMix('Karla-Bold', 1.8rem)

.container-fluid
  padding 7% 18%

@media (max-width: $ex-large)
  .container-fluid
    padding 7% 13%

@media (max-width: $large)
  .container-fluid
    padding 5% 11%
