// Grid
.grid
  display grid
  grid-template-columns 1fr 1fr
  grid-template-rows 43% 1fr
  grid-template-areas "pricing-header pricing-header" "pricing-cta pricing-info"
  &-item
    padding 3rem

@media (max-width: $ex-large)
  .grid
    &-item
      padding 2.2rem

@media (max-width: $large)
  .grid
    &-item
      padding 1.8rem

@media (max-width: $ex-small)
  .grid
    display grid
    grid-template-columns 1fr
    grid-template-rows 33% 33% 33%
    grid-template-areas "pricing-header " "pricing-info" "pricing-cta"
    &-item
      padding 1rem
