// Layout
.main-header
  background-color $neutral-light-gray
  grid-area pricing-header
  padding-bottom 0
  h3
    color $primary-cyan
    padding-bottom 1rem
  h4
    color $primary-bright-yellow
  p
    color $neutral-grayish-blue
    font-size 1.4rem

.main-cta
  background-color $primary-cyan
  grid-area pricing-cta
  h4
    padding-bottom 1.4rem
  span
    font-weight lighter
    font-size 1.2rem
    strong
      margin-right 1rem
      font-size 3rem
  p
    font-size 1.2rem
    padding-bottom 15%

.main-info
  background-color lighten($primary-cyan, 10%)
  grid-area pricing-info
  h4
    padding-bottom 1.4rem
  p
    font-size 1.2rem
    color darken($white, 5%)

@media (max-width: $large)
  .main-header
    h3
      font-size 1.4rem
    h4
      font-size 1.2rem
    p
      font-size 0.9rem
      padding-top 1rem

  .main-cta
    h4
      font-size 1.2rem
      padding-bottom 1rem
      margin-bottom 0
    p
      font-size 0.9rem
      padding 0.5rem 0 1rem 0
    span
      font-size 0.9rem
      strong
        margin-right 1rem
        font-size 1.8rem

  .main-info
    h4
      font-size 1.2rem
      padding-bottom 1rem
      margin-bottom 0
    p
      font-size 0.9rem

@media (max-width: $ex-small)
  .main-header
    h3
      font-size 1.2rem
      padding-bottom 0
    h4
      font-size 1rem
    p
      font-size 0.9rem
      padding-top 0

  .main-cta
    h4
      font-size 1.2rem
      padding-bottom 1rem
      margin-bottom 0
    p
      font-size 0.9rem
      padding 0.5rem 0 1rem 0
    span
      font-size 0.9rem
      strong
        margin-right 1rem
        font-size 1.8rem

  .main-info
    h4
      font-size 1.2rem
      padding-bottom 1rem
      margin-bottom 0
    p
      font-size 0.9rem
