// Modules
.button
  min-height 4rem
  background-color $primary-bright-yellow
  color $white
  border none
  width 100%
  font-size 1.4rem
  &:active
    background-color darken($primary-bright-yellow, 6%)
    color $black

@media (hover: hover) and (pointer: fine)
  .button
    &:hover
      background-color darken($primary-bright-yellow, 6%)
    &:active
      background-color darken($primary-bright-yellow, 6%)
      color $black

@media (max-width: $large)
  .button
    min-height 3rem
    font-size 1.2rem

@media (max-width: $ex-small)
  .button
    font-size 1rem
