@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 62.5%;
  color: #000;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:focus {
  color: #000;
}
h1 {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 2.3rem;
}
h2 {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 1.8rem;
}
h3 {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 0.9rem;
}
p {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 1rem;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 1rem;
}
.border__underline {
  border-bottom: 1px solid hsl(170, 45%, 43%);
}
@media (max-width: 992px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 1.6rem;
  }
}
.navbar {
  padding: 3rem 0 5rem;
  list-style: none;
}
.navbar-item {
  padding: 0 2rem;
}
.navbar-toggler {
  border: none;
}
.main {
  padding-bottom: 15rem;
  background-image: url('../img/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
.main-content {
  padding: 2rem 0 0;
  color: hsl(243, 87%, 12%);
}
.main-content h1 {
  line-height: 1.5;
}
.testimonials {
  padding: 2rem 0 7rem;
  background-color: #F8F8FE;
}
.testimonials-content {
  color: hsl(243, 87%, 12%);
  margin-bottom: 2rem;
}
.testimonials-content h1 {
  padding-bottom: 1rem;
}
.testimonials-content p {
  max-width: 35rem;
}
.testimonials-content a {
  color: hsl(170, 45%, 43%);
}
.testimonials-content a i {
  margin-left: 0.5rem;
}
.cta {
  padding: 7rem 0 6rem;
  color: #fff;
  background-color: hsl(238, 22%, 44%);
}
.cta-content h2 {
  line-height: 1.5;
}
.cta-content p {
  max-width: 30rem;
}
.footer {
  padding: 5rem 0 3rem 0;
  background-color: hsl(243, 87%, 12%);
  color: #fff;
}
.footer p {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 1rem;
}
.footer a {
  color: #fff;
}
.footer-content {
  padding-top: 2rem;
}
.footer-copyright {
  width: 100%;
  text-align: right;
}
@media (max-width: 992px) {
  .main {
    padding-bottom: 12rem;
    background-image: url('../img/bg-curve-mobile.svg');
  }
  .main-content {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .column-reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .navbar-nav {
    padding-top: 0.5rem;
  }
  .navbar-item {
    padding: 0;
  }
  .main-content {
    padding-top: 4rem;
    text-align: center;
  }
  .main-content h1 {
    margin: 0;
  }
  .main-content p {
    padding: 1.5rem 0;
    margin: 0;
  }
  .testimonials-content {
    text-align: center;
  }
  .testimonials-content h1 {
    padding-top: 3rem;
  }
  .testimonials-content p {
    max-width: 100%;
  }
  .cta {
    padding: 5rem 0 5rem;
  }
  .cta-content {
    text-align: center;
  }
  .cta-content p {
    max-width: 100%;
    padding: 1rem 0;
  }
  .footer-copyright {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer-copyright {
    font-size: 0.8rem;
  }
}
.logo {
  width: 10rem;
}
.img-main,
.img-testimonials {
  width: 100%;
}
.main-form-group {
  display: -ms-flexbox;
  display: flex;
}
.main-form-group__email {
  padding: 1.4rem;
  width: 60%;
  border-color: hsl(243, 87%, 12%);
}
.main-form-group__btn {
  margin-left: 1rem;
  width: 40%;
}
.navbar-toggler:focus {
  border: none;
}
.btn-main {
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  font-size: 1rem;
}
.btn-main:active {
  background-color: hsl(224, 93%, 48%);
  color: #000;
}
.testimonials__card {
  padding: 1rem 2rem;
  width: 24rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.testimonials__card i {
  margin-bottom: 1rem;
}
.media-body {
  padding-top: 0.4rem;
}
.media img {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 15%;
}
.media h3,
.media p {
  margin: 0;
}
.media p {
  font-size: 0.8rem;
}
.cta-form-group__email {
  padding: 1.5rem;
}
.cta-form-group__btn {
  margin-top: 1rem;
  padding: 0.7rem 2.5rem;
}
.footer__info {
  display: -ms-flexbox;
  display: flex;
}
.footer__icon {
  padding-top: 0.3rem;
  margin-right: 0.5rem;
}
.list {
  list-style: none;
}
.list-item {
  padding: 0.5rem 0;
}
.list-item:first-child {
  padding-top: 0;
}
.list-item:last-child {
  padding-bottom: 0;
}
.socials {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style: none;
}
.socials__item {
  padding: 0 0.5rem;
}
.socials__item:first-child {
  padding-left: 0;
}
.socials__item:last-child {
  padding-right: 0;
}
.socials__item a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media (hover: hover) and (pointer: fine) {
  .btn-main:hover {
    background-color: hsl(224, 93%, 48%);
    color: #fff;
  }
  .btn-main:active {
    background-color: hsl(224, 93%, 48%);
    color: #000;
  }
}
@media (max-width: 1200px) {
  .cta-form-group__btn {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .img-main,
  .img-testimonials {
    padding-top: 3rem;
  }
  .main-form-group {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .main-form-group__email {
    width: 100%;
  }
  .main-form-group__btn {
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .img-testimonials {
    padding-top: 0;
  }
  .main-form-group {
    -ms-flex-align: center;
        align-items: center;
  }
  .main-form-group__email {
    width: 80%;
  }
  .main-form-group__btn {
    width: 80%;
  }
  .testimonials__card {
    margin: 0 auto;
  }
  .list {
    padding: 0.5rem 0;
  }
  .socials {
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 8rem;
  }
  .main-form-group__email {
    width: 100%;
  }
  .main-form-group__btn {
    width: 100%;
  }
  .testimonials__card {
    width: 90%;
    padding: 1rem 1rem;
  }
}
