.title {
  font-family: "RedHatDisplay-Black", sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: var(--heading);
  margin: 0 auto;
  max-width: 450px;
}

@media (min-width: 768px) {
  .title {
    font-size: 64px;
    line-height: 64px;
  }
}
