//- Mixins
mixin card(cardData)
  .card(class=cardData.class)
    h3= cardData.tittle
    p.card-text= cardData.text
    img.card-image(src=cardData.imgsrc alt=cardData.imgalt)

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, SASS, Grid">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/four-card-feature-section-weK1eFYK challenge")
    meta(name="author" content="Dmitriy Granyov")
    title Four Card Features Section
    link(rel="stylesheet" href="css/style.css")
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
  body
    // Main section
    main#main.main
      .container-fluid
        .main-header
          h1 Reliable, efficient delivery
          h2 Powered by Technology
          p.main-header-text Our Artificial intelligence powered tools use millions of product data points to ensure that your project is successful
        .grid-container
          - const cards = []
          - cards.push({class: 'card-one', tittle: 'Supervisor', text: 'Monitors activty to identify project roadblocks', imgsrc: 'img/magnifier.png', imgalt: 'magnifier'})
          - cards.push({class: 'card-two', tittle: 'Team Builder', text: 'Scans our talent network to create optimal team for your project', imgsrc: 'img/webpage.png', imgalt: 'webpage'})
          - cards.push({class: 'card-three', tittle: 'Karma', text: 'Regularly evaluates our talent to ensure quality', imgsrc: 'img/bulb.png', imgalt: 'bulb'})
          - cards.push({class: 'card-four', tittle: 'Calculator', text: 'Uses date from past projects to provide better delivery estimates', imgsrc: 'img/monitor.png', imgalt: 'monitor'})
          each card in cards
            +card(card)
    // Footer section
    footer#footer
      a(href="https://gitlab.com/syr1ken") @syr1ken
