<template lang="pug">
the-header
router-view(v-slot="slotProps")
  transition(name="route" mode="out-in")
    component(:is="slotProps.Component")
</template>

<script>
import TheHeader from "./components/layout/TheHeader.vue";

export default {
  name: "App",
  components: {
    TheHeader
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Spartan", sans-serif;
}

.route-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-active {
  transition: all 0.3s ease-in;
}
</style>
