//- Globals
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Huddle'}
- const MAIN_IMG = {src: 'img/illustration-mockups.svg', alt: 'Some Illustrations'}

//- Mixins
mixin socialsItem(itemData)
  li(class=itemData.class)
    a(href=itemData.href)
      i(class=itemData.iconClass)
        
doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, SASS, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/huddle-landing-page-with-a-single-introductory-section-B_2Wvxgi0 challenge")
    meta(name="author" content="Dmitriy Granyov")
    title Huddle Single Introductory Section
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    // Header section
    header#header
      .container
        a(href="#")
          img#logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
    // Main section
    main#main.main
      .container
        .main-content
          .row
            .col-xl-7.col-lg-6
              img.main-content-img(src=MAIN_IMG.src alt=MAIN_IMG.alt)
            .col-xl-5.col-lg-6
              .main-content-text
                h1 Build the Community Your Fans Will Love
                p.
                  Huddle re-imagines the way we build communitues. You have
                  a voice, but so does your audience. Create connections with
                  your users as you engage in genuine discussion
                button.button.btn.btn-lg Register
    // Footer section
    footer#footer.footer
      .container
        ul.socials
          - const social_items = []
          - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-facebook-f'})
          - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-twitter'})
          - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-instagram'})
          each item in social_items
            +socialsItem(item)
        .footer-link
          a(href="https://gitlab.com/syr1ken") @syr1ken
    
    // JQ + Bootstrap
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
