//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Fylo'}
- const MAIN_IMG = {src: 'img/illustration-intro.png', alt: 'Intro'}
- const PRODUCTIVE_IMG = {src: 'img/illustration-stay-productive.png', alt: 'Stay Productive'}
- const QUOTES_IMG = {src: 'img/bg-quotes.png', alt: '\"'}

//- Mixins
mixin linkList(listData)
  li(class=listData.li.classes)
    a(href=listData.link.href class=listData.link.classes)=listData.link.text
    
mixin feature(featureData)
  .col-md-6
    div(class=featureData.classes)
      i(class=featureData.icon.classes)
      h3=featureData.content.tittle
      p=featureData.content.text

mixin testimonial(testimonialData)
 if testimonialData.quotes
   .col-lg-4
     div(class=testimonialData.wrap.classes)
       div(class=testimonialData.classes)
         img(class=testimonialData.quotes.classes src=testimonialData.quotes.src alt=testimonialData.quotes.alt)
         p(class=testimonialData.content.classes)=testimonialData.content.text
         div.media
           img(class=testimonialData.media.img.classes src=testimonialData.media.img.src alt=testimonialData.media.img.alt)
           div.media-body
             h4=testimonialData.media.content.tittle
             p=testimonialData.media.content.text
 else
  .col-lg-4
    div(class=testimonialData.wrap.classes)
      div(class=testimonialData.classes)
        p(class=testimonialData.content.classes)=testimonialData.content.text
        div.media
          img(class=testimonialData.media.img.classes src=testimonialData.media.img.src alt=testimonialData.media.img.alt)
          div.media-body
            h4=testimonialData.media.content.tittle
            p=testimonialData.media.content.text
      
mixin footerInfo(infoData)
  div(class=infoData.classes)
    i(class=infoData.icon.classes)
    p=infoData.text

mixin listItem(listItemData)
  li(class=listItemData.classes)
    a(href=listItemData.link.href)=listItemData.link.text

mixin socialsItem(itemData)
  li(class=itemData.classes)
    a(href=itemData.href)
      i(class=itemData.icon.classes)

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/fylo-dark-theme-landing-page-5ca5f2d21e82137ec91a50fd")
    meta(name="author" content="Dmitriy Granyov")
    title Fylo Dark Theme Landing Page
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    header.header
      .container-fluid
        nav.navbar.navbar-light.header-nav
          a(href="#")
            img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
          ul.nav.ml-auto
            - let links = []
            - links.push({li: {classes: 'navbar-item'}, link: {href: '#', classes: 'navbar-link', text: 'Features'}})
            - links.push({li: {classes: 'navbar-item'}, link: {href: '#', classes: 'navbar-link', text: 'Team'}})
            - links.push({li: {classes: 'navbar-item'}, link: {href: '#', classes: 'navbar-link', text: 'Sign in'}})
            each link in links
              +linkList(link)
    // Main section
    section.main
      .container
        .main-content
          img.main-img(src=MAIN_IMG.src alt=MAIN_IMG.alt)
          h1 All your files in one secure location, accessible anywhere.
          p.
            Fylo stores all your most important files in one secure location.
            Access them wherever you need, share and collaborate with
            friend, family and co-workers.
          button.btn.btn-main.btn-lg Get Started
    // Features Section
    section.features
      .container
        .row
          - let features = []
          - features.push({classes: 'feature', icon: {classes: 'fas fa-desktop'}, content: {tittle: 'Access your files, anywhere', text: 'The abillity to use a smartphone, table or computer to access your account means your files follow you everywhere.'}})
          - features.push({classes: 'feature', icon: {classes: 'fas fa-shield-alt'}, content: {tittle: 'Security you can trust', text: '2-factor authentication and user-controlled encryption are just a couple of the secutiry features we allow to help secure your files.'}})
          each feature in features
            +feature(feature)
        .row
          - features = []
          - features.push({classes: 'feature', icon: {classes: 'far fa-clock'}, content: {tittle: 'Real-time collaboration', text: 'Securely share files and folders with friendsm family and colleagues for live collaboration. No email attachments required.'}})
          - features.push({classes: 'feature', icon: {classes: 'far fa-folder'}, content: {tittle: 'Store and type of file', text: 'Whether you\'re sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.'}})
          each feature in features
            +feature(feature)
    // Productive Section
    section.productive
      .container-fluid
        .row
          .col-lg-6
            .productive-wrap
              img.productive-img(src=PRODUCTIVE_IMG.src alt=PRODUCTIVE_IMG.alt)
          .col-lg-6
            .productive-content
              h1 Stay productive, wherever you are
              p.
                Never let location be an issue when accessing your files. Fylo has you
                covered for all of your file storage needs.
              p.
                Securely share files and folders with friends, family and colleagues for live
                collaboration. No email attachments required.
              a.border-underline(href="#") See how Fylo works
                i.fas.fa-arrow-circle-right
    // Testimonials Section
    section.testimonials
      .container-fluid
        .testimonials-content
          .row
            - const testimonials = []
            - testimonials.push({classes: 'testimonial', wrap: {classes: 'testimonial-wrap'}, quotes: {classes: 'testimonial-quotes', src: 'img/bg-quotes.png', alt: '\"'}, content: {classes: 'testimonial-text', text: 'Fylo has improved our team productivity by and order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.'}, media: {img: {classes: 'media-img', src: 'img/profile-1.jpg', alt: 'A'}, content: {tittle: 'Satish Patel', text: 'Founder & CEO, Huddle'}}})
            - testimonials.push({classes: 'testimonial', wrap: {classes: 'testimonial-wrap'}, content: {classes: 'testimonial-text', text: 'Fylo has improved our team productivity by and order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.'}, media: {img: {classes: 'media-img', src: 'img/profile-2.jpg', alt: 'B'}, content: {tittle: 'Bruce McKenzie', text: 'Founder & CEO, Huddle'}}})
            - testimonials.push({classes: 'testimonial', wrap: {classes: 'testimonial-wrap'}, content: {classes: 'testimonial-text', text: 'Fylo has improved our team productivity by and order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.'}, media: {img: {classes: 'media-img', src: 'img/profile-3.jpg', alt: 'C'}, content: {tittle: 'Iva Boyd', text: 'Founder & CEO, Huddle'}}})
            each testimonial in testimonials
              +testimonial(testimonial)
        // CTA
        .cta
          h2 Get early access today
          p.
            It only takes a minute to sign up and our free starter tier is extremely generous. If you have any
            auestions, our support team would be happy to help you.
          form(action='#').cta-form
            .cta-form-group
              input.cta-form-group__email.form-control(type="email" placeholder="example@example.com")
              button.btn.btn-lg.btn-cta(type="submit") Get Started For Free
    footer.footer
      .container-fluid
        .row
          .col
            img.logo.footer-logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
        .row
          .col-lg-7
            .footer__info-wrap
              .row
                .col-md-6
                  - let footer_info = []
                  - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon fas fa-map-marker-alt'}, text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac elementum neque, eu pharetra turpis. Praesent non consectetur dui. Donec laoreet id dui vel ullamcorper. Lorem ipsum dolor sit amet.'})
                  each item in footer_info
                    +footerInfo(item)
                .col-md-6
                  - footer_info = []
                  - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon fas fa-phone-alt'}, text: '+1-543-123-4567'})
                  - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon far fa-envelope'}, text: 'example@huddle.com'})
                  each item in footer_info
                    +footerInfo(item)
          .col-lg-5
            .row
              .col-md-4
                ul.list
                  - links = []
                  - links.push({classes: 'list-item', link: {href: '#', text: 'About Us'}})
                  - links.push({classes: 'list-item', link: {href: '#', text: 'Jobs'}})
                  - links.push({classes: 'list-item', link: {href: '#', text: 'Press'}})
                  - links.push({classes: 'list-item', link: {href: '#', text: 'FAQ'}})
                  each link in links
                    +listItem(link)
              .col-md-4
                ul.list
                  - links = []
                  - links.push({classes: 'list-item', link: {href: '#', text: 'Contact Us'}})
                  - links.push({classes: 'list-item', link: {href: '#', text: 'Terms'}})
                  - links.push({classes: 'list-item', link: {href: '#', text: 'Privacy'}})
                  each link in links
                    +listItem(link)
              .col-md-4
                ul.socials
                  - const social_items = []
                  - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-facebook-f'}})
                  - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-twitter'}})
                  - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-instagram'}})
                  each item in social_items
                    +socialsItem(item)
        .row
          .col
            .footer-copyright
              a(href="https://gitlab.com/syr1ken") @syr1ken
          
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
