.picture {
  margin: 10px;
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
}

@media (min-width: 992px) {
  .picture {
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .picture {
    max-width: 240px;
  }
}
