.info__title {
  font-family: "RedHatDisplay-Black", sans-serif;
  font-size: 32px;
  line-height: 36px;
  color: var(--heading);
  margin: 32px auto;
  max-width: 300px;
}

@media (min-width: 576px) {
  .info__title {
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  .info__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 450px;
  }
}
