.info__subtitle {
  margin: 0 auto;
  margin-bottom: 64px;
}

@media (min-width: 576px) {
  .info__subtitle {
    max-width: 570px;
  }
}

@media (min-width: 992px) {
  .info__subtitle {
    max-width: 510px;
  }
}
