/* Colors */
:root {
  --black: #000000;
  --white: #ffffff;
  --heading: #28283d;
  --text: #87879d;
  --border-light: #d7d7e2;
  --download-btn-span: #8fe3f9;
  --download-btn-color: #4d96a9;
  --download-btn-hover: #71c0d4;
  --faq-btn-color: #855fb1;
  --faq-btn-hover: #b18bdd;
  --cta-btn-span: #d9b8ff;
}
