/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_base.css";
@import "./container/container.css";
@import "./header/header.css";
@import "./hero/hero.css";
@import "./title/title.css";
@import "./subtitle/subtitle.css";
@import "./hero/hero__btn.css";
@import "./hero/hero--btn-margin.css";
@import "./btn-download/btn-download.css";
@import "./btn-download/btn-download__span.css";
@import "./btn-faq/btn-faq.css";
@import "./hero/hero__path.css";
@import "./path/path.css";
@import "./path/line.css";
@import "./path/number.css";
@import "./pictures/pictures__content.css";
@import "./pictures/pictures__group.css";
@import "./picture/picture.css";
@import "./info/info__content.css";
@import "./info/info__title.css";
@import "./info/info__subtitle.css";
@import "./info/info__path.css";
@import "./overline/overline.css";
@import "./footer/footer.css";
@import "./footer/footer__content.css";
@import "./footer/footer__wrap.css";
@import "./cta/cta.css";
@import "./cta/cta__title.css";
@import "./cta/cta__subtitle.css";
@import "./btn-cta/btn-cta.css";
