// Fonts
@font-face
@font-face
    font-family: 'Raleway-Regular'
    src: url('../fonts/Raleway-Regular.eot')
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Raleway-Bold'
    src: url('../fonts/Raleway-Bold.eot')
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal

// Base
html, body
    height: 100%

body
  display: flex
  flex-direction: column
  min-height: 100%
  @include font('Raleway-Regular', 62.5%)
  color: $white
  background-color: $dark-blue-blue
  background-image: url(#{$IMG_DIR}bg-desktop.png)
  background-repeat: no-repeat
  background-size: 100%
  background-position: bottom

body
  *
    font-size: 1rem

*:focus
  outline: none !important
  -webkit-outline: none !important
  -moz-outline: none !important
  -ms-outline: none !important
  -o-outline: none !important

a
  text-decoration: none
  color: $white
  &:focus
    color: $white
  &:hover
    color: $white
    text-decoration: none

#main
  flex: 1 0 auto

.container-fluid
  width: 100%
  height: 100%
  padding-right: 15%
  padding-left: 15%
  margin-right: auto
  margin-left: auto

@media (max-width: $large)
  body
    background-image: url(#{$IMG_DIR}bg-mobile.png)
    background-position: center
    background-size: cover

@media (max-width: $small)
  .container-fluid
    padding-right: 5%
    padding-left: 5%
