// Main
.main
  &-wrap
    display: flex
    height: 100%
    justify-content: center
    align-items: center
  &-content
    display: flex
    width: 100%
    flex-direction: row
    justify-content: center
    padding-bottom: 10rem

@media (max-width: $medium)
  // Main
  .main
    &-content
      flex-direction: column
      padding-bottom: 0
