// Menu
.menu
  padding: 2rem 6rem 2rem 2rem
  background-color: $dark-blue
  border-radius: 1rem 5rem 1rem 1rem
  &-logo
    width: 7rem
  &-buttons
    display: flex
    justify-content: flex-start
    padding-top: 2rem

.menu__btn
  width: 2.5rem
  height: 2.5rem
  border: none
  border-radius: 0.5rem
  background-color: c
  display: flex
  align-items: center
  justify-content: center
  background-color: $dark-blue-blue
  margin: 0 0.5rem
  i
    font-size: 1.4rem
    color: $pale-blue
  &:first-child
    margin: 0 0.5rem 0 0
  &:active
    background-color: lighten($dark-blue-blue, 10%)
    i
      color: darken($pale-blue, 10%)

// Data
.data
  padding: 2rem
  background-color: $dark-blue
  border-radius: 1rem
  margin-left: 2rem
  align-self: flex-end
  position: relative
  &-text
    margin: 0
    span
      @include font('Raleway-Bold', 1rem)
  &-left
    position: absolute
    width: 10rem
    top: -3rem
    right: 2rem
    height: 4rem
    background-color: $white
    display: flex
    justify-content: center
    align-items: center
    color: $dark-blue-blue
    @include font('Raleway-Bold', 0.8rem)
    border-radius: 0.5rem 0.5rem 0 0.5rem
    &:after
      content: ''
      position: absolute
      width: 0
      height: 0
      bottom: -1.3rem
      right: 0
      border-style: solid
      border-width: 0 25px 25px 0
      border-color: transparent $white transparent transparent
    span
      font-size: 2rem
      margin-right: 0.5rem
    p
      text-transform: uppercase
      font-size: 0.8rem
      margin: 0
      padding-top: 0.5rem
      color: $grayish-blue

// Slider
input[type=range].slider
  -webkit-appearance: none
  width: 30rem
  height: 1.1rem
  margin: 0.5rem 0
  display: flex
  align-items: center
  border-radius: 1rem
  background-color: $dark-blue-blue

input[type=range].slider::-webkit-slider-thumb
  -webkit-appearance: none
  position: relative
  width: 0.7rem
  height: 0.7rem
  border-radius: 50%
  background-color: $white

input[type=range].slider::-moz-range-thumb
  position: relative
  width: 0.7rem
  height: 0.7rem
  border-radius: 50%
  background-color: $white

input[type=range].slider::-ms-thumb
  position: relative
  width: 0.7rem
  height: 0.7rem
  border-radius: 50%
  background-color: $white

.slider-data__container
  display: flex
  justify-content: space-between
  @include font('Raleway-Bold', 1rem)

@media (hover: hover) and (pointer: fine)
  .menu__btn
    &:hover
      background-color: lighten($dark-blue-blue, 10%)
    &:active
      background-color: lighten($dark-blue-blue, 10%)
      i
        color: darken($pale-blue, 10%)

@media (max-width: $large)
  input[type=range].slider
    width: 20rem

@media (max-width: $medium)
  .data
    width: 100%
    margin-top: 2rem
    padding: 2rem 2rem 4rem 2rem
    text-align: center
    &-text
      padding-bottom: 0.5rem
    &-left
      top: 9rem
      right: 50%
      transform: translateX(50%)
      border-radius: 0.5rem
      &:after
        content: ''
        position: static
        width: 0
        height: 0
        bottom: 0
        right: 0
        border-style: none
        border-width: 0
        border-color: none

  input[type=range].slider
    width: 100%
