//Colors
$white: #fff;
$black: #000;
$bg: #1d1e28;
$card-bg: #343650;
$shadow: #191a23;
$card-title: #8385a9;
$clock: #fb5e84;

// Media breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$ex-large: 1200px;
$huge: 1400px;
