<template lang="pug">
header.header
  base-container
    nav.nav
      router-link(to="/jobs") Jobs
</template>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: $header-bg;
  background-image: url("../../assets/bg-header-mobile.svg");
  background-position: center bottom;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  margin: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.nav a:last-child {
  margin-right: 0;
}

.nav a:active {
  border-bottom: 2px solid $white;
}

@media (hover: hover) and (pointer: fine) {
  .nav a:hover {
    border-bottom: 2px solid $white;
  }
}
</style>
