// Fonts
@font-face
  font-family: 'Manrope-Medium'
  src: url('../fonts/Manrope-Medium.eot')
  src: url('../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Manrope-Medium.woff2') format('woff2'), url('../fonts/Manrope-Medium.woff') format('woff'), url('../fonts/Manrope-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
    font-family: 'Manrope-Bold'
    src: url('../fonts/Manrope-Bold.eot')
    src: url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Manrope-Bold.woff2') format('woff2'), url('../fonts/Manrope-Bold.woff') format('woff'), url('../fonts/Manrope-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal

// Base
html, body
    height: 100%

body
  display: flex
  flex-direction: column
  min-height: 100%
  @include font('Manrope-Medium', 62.5%)
  color: $dark-grayish-blue
  background-color: $light-grayish-blue

body
  *
    font-size: 1rem

*:focus
  outline: none !important
  -webkit-outline: none !important
  -moz-outline: none !important
  -ms-outline: none !important
  -o-outline: none !important

a
  text-decoration: none
  color: $dark-grayish-blue
  &:focus
    color: $dark-grayish-blue
  &:hover
    color: $dark-grayish-blue
    text-decoration: none

h1, h3
  @include font('Manrope-Bold', 1.5rem)

h3
  font-size: 1rem

#main
  flex: 1 0 auto
