// Testimonial
.testimonial
  display: flex
  position: relative
  width: 51rem
  background-color: $white
  border-radius: 1rem
  &-img
    width: 20rem
    height: 20rem
    background-image: url(#{$IMG_DIR}drawers.jpg)
    background-repeat: no-repeat
    background-size: 125%
    border-radius: 1rem 0 0 1rem
  &-content
    height: 100%
    max-width: 31rem
    padding: 2rem

.media
  &-img
    width: 13%
    border-radius: 50%
  &-body
    margin-left: 1rem
    padding-top: 0.25rem
    p
      margin: 0

.share__btn
  display: flex
  position: absolute
  bottom: 3rem
  right: 3rem
  width: 2rem
  height: 2rem
  background-color: $light-grayish-blue
  border-radius: 50%
  align-items: center
  justify-content: center
  transition: all 0.2s ease-out
  z-index: 2
  &:active
    background-color: $dark-blue
    color: $white

// Modals
.share__modal
  position: absolute
  bottom: 6rem
  right: -4.2rem
  display: none
  justify-content: space-between
  align-items: center
  padding: 1rem 2rem
  background-color: $dark-grayish-blue
  border-radius: 1rem
  color: $white
  z-index: 1
  p
    margin: 0
    padding: 0
    text-transform: uppercase
    letter-spacing: 0.5rem
    color: $grayish-blue
  &:after
    content: ''
    position: absolute
    width: 0
    height: 0
    bottom: -0.55rem
    left: 50%
    transform: translateX(-50%)
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 10px solid $dark-grayish-blue

// Socials
.socials
  display: flex
  margin: 0
  padding: 0
  list-style: none
  text-align: right
  a
    margin: 0
    color: inherit
    i
      margin: 0
      font-size: 1.5rem

.socials__item
  margin: 0
  display: inline-block
  text-align: inherit
  padding: 0 0.5rem
  &:last-child
    padding: 0 0 0 0.5rem

// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  .share__btn
    &:hover
      background-color: $dark-blue
      color: $white
    &:active
      background-color: $dark-blue
      color: $black

@media (max-width: $large)
  // Testimonial
  .testimonial
    width: 39rem
    &-img
      width: 15rem
      height: 15rem
      background-size: 125%
    &-content
      padding: 2rem 1rem
      max-width: 24rem
      h1
        font-size: 1rem
      &-text
        font-size: 0.8rem

  .media
    &-img
      width: 10%
    &-body
      padding-top: 0
      font-size: 0.8rem
      h3
        font-size: 0.8rem
      p
        font-size: 0.8rem

@media (max-width: $medium)
  .testimonial
    flex-direction: column
    width: 90%
    &-img
      width: 100%
      height: 25rem
      background-size: 100%
      border-radius: 1rem 1rem 0 0
    &-content
      height: 100%
      width: 100%
      max-width: 100%
      padding: 2rem  2rem 0 2rem
      h1
        font-size: 1.6rem
        padding-bottom: 1rem
      &-text
        padding-bottom: 2rem
        font-size: 1rem

  .media
    padding-top: 0
    padding-bottom: 2rem
    height: 6rem
    &-img
      width: 4rem
    &-body
      margin-left: 1rem
      padding-top: 0.7rem
      h3
        font-size: 1rem
      p
        font-size: 1rem

  // Modals
  .share__modal
    position: absolute
    width: 100%
    height: 6rem
    bottom: 0
    right: 0
    justify-content: flex-start
    background-color: $dark-grayish-blue
    border-radius: 0 0 1rem 1rem
    p
      margin: 0
    &:after
      content: ''
      position: absolute
      width: 0
      height: 0
      transform: 0
      border-left: none
      border-right: none
      border-top: none

  // Socials
  .socials
    margin-left: 1rem

  .share__btn
    bottom: 1.5rem
    right: 2.5rem
    width: 3rem
    height: 3rem
    background-color: $dark-blue
    color: $white
    &:focus
      background-color: $dark-blue
      color: $white
    &:active
      background-color: $light-grayish-blue
      color: $dark-blue

@media (max-width: $small)
  .testimonial
    &-img
      height: 14rem
      border-radius: 1rem 1rem 0 0
    &-content
      padding: 2rem 1.5rem 0 1.5rem
      h1
        font-size: 1.2rem

  .media
    &-body
      margin-left: 0.5rem
      padding-top: 1rem
      h3
        font-size: 0.8rem
      p
        font-size: 0.8rem

  // Modals
  .share__modal
    padding: 0 1rem

  .share__btn
    right: 1rem
