/*!
 * * Bootstrap Reboot v4.5.0 (https://getbootstrap.com/)
 * * Copyright 2011-2020 The Bootstrap Authors
 * * Copyright 2011-2020 Twitter, Inc.
 * * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 * */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@font-face;
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 62.5%;
  color: #fff;
  background-color: #0c122c;
  background-image: url(../img/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

body * {
  font-size: 1rem;
}

*:focus {
  outline: none !important;
  -webkit-outline: none !important;
  -moz-outline: none !important;
  -ms-outline: none !important;
  -o-outline: none !important;
}

a {
  text-decoration: none;
  color: #fff;
}
a:focus {
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

#main {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding-right: 15%;
  padding-left: 15%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 992px) {
  body {
    background-image: url(../img/bg-mobile.png);
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .container-fluid {
    padding-right: 5%;
    padding-left: 5%;
  }
}
.main-wrap {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.main-content {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  padding-bottom: 10rem;
}

@media (max-width: 768px) {
  .main-content {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 0;
  }
}
.menu {
  padding: 2rem 6rem 2rem 2rem;
  background-color: #1d2c67;
  border-radius: 1rem 5rem 1rem 1rem;
}
.menu-logo {
  width: 7rem;
}
.menu-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-top: 2rem;
}

.menu__btn {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: c;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #0c122c;
  margin: 0 0.5rem;
}
.menu__btn i {
  font-size: 1.4rem;
  color: #dddbff;
}
.menu__btn:first-child {
  margin: 0 0.5rem 0 0;
}
.menu__btn:active {
  background-color: #172254;
}
.menu__btn:active i {
  color: #ada8ff;
}

.data {
  padding: 2rem;
  background-color: #1d2c67;
  border-radius: 1rem;
  margin-left: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}
.data-text {
  margin: 0;
}
.data-text span {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1rem;
}
.data-left {
  position: absolute;
  width: 10rem;
  top: -3rem;
  right: 2rem;
  height: 4rem;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: #0c122c;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.8rem;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
}
.data-left:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -1.3rem;
  right: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #fff transparent transparent;
}
.data-left span {
  font-size: 2rem;
  margin-right: 0.5rem;
}
.data-left p {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0;
  padding-top: 0.5rem;
  color: #848794;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 30rem;
  height: 1.1rem;
  margin: 0.5rem 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 1rem;
  background-color: #0c122c;
}

input[type=range].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
}

input[type=range].slider::-moz-range-thumb {
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
}

input[type=range].slider::-ms-thumb {
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
}

.slider-data__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .menu__btn:hover {
    background-color: #172254;
  }
  .menu__btn:active {
    background-color: #172254;
  }
  .menu__btn:active i {
    color: #ada8ff;
  }
}
@media (max-width: 992px) {
  input[type=range].slider {
    width: 20rem;
  }
}
@media (max-width: 768px) {
  .data {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 2rem 4rem 2rem;
    text-align: center;
  }
  .data-text {
    padding-bottom: 0.5rem;
  }
  .data-left {
    top: 9rem;
    right: 50%;
    -ms-transform: translateX(50%);
        transform: translateX(50%);
    border-radius: 0.5rem;
  }
  .data-left:after {
    content: "";
    position: static;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-style: none;
    border-width: 0;
    border-color: none;
  }

  input[type=range].slider {
    width: 100%;
  }
}
