.btn-faq {
  background-color: var(--faq-btn-color);
}

.btn-faq:active {
  background-color: var(--faq-btn-hover);
}

@media (hover: hover) and (pointer: fine) {
  .btn-faq:hover {
    background-color: var(--faq-btn-hover);
  }
}
