.hero__btn {
  display: block;
  margin: 0 auto;
  color: var(--white);
  border-radius: 29px;
  padding: 16px 40px;
  border: 0;
  font-family: "RedHatDisplay-Black", sans-serif;
}

.hero__btn:focus {
  outline: 0;
}

@media (min-width: 576px) {
  .hero__btn {
    display: inline-block;
  }
}
