.hero {
  padding-top: 52%;
  background-image: url(../../img/image-hero.png);
  background-size: 111%;
  background-repeat: no-repeat;
  background-position: -20px 0;
  text-align: center;
}

@media (min-width: 576px) {
  .hero {
    background-size: 107%;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 20px;
    background-image: url(../../img/image-hero-left.png),
      url(../../img/image-hero-right.png);
    background-size: 250px;
    background-position: left -20px top, right -20px center;
  }
}

@media (min-width: 992px) {
  .hero {
    background-size: 260px;
  }
}

@media (min-width: 1200px) {
  .hero {
    background-size: 350px;
  }
}
