<template lang="pug">
.tag__wrap
  .tag
    p.tag__title {{text}}
    button.tag__btn(@click="removeFilter" :value="text")
      font-awesome-icon(:icon="['fas', 'times']")
</template>

<script>
export default {
  props: ["text"],
  methods: {
    removeFilter(event) {
      const filter = event.target.closest(".tag__btn").value;
      this.$store.dispatch("removeFilter", filter);
    }
  }
};
</script>
<style lang="scss" scoped>
.tag__wrap {
  display: inline-block;
}

.tag {
  margin-top: 20px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $tag-bg;
  border-radius: 4px;
  font-size: 13px;
  color: $header-bg;
  font-weight: 700;
  border: none;
}

.tag__title {
  margin: 0;
  padding: 8px 10px;
}

.tag__btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: $header-bg;
  color: $white;
  font-size: 22px;
  transition: all 0.2s ease;
}

.tag__btn:focus {
  outline: none;
}

.tag__btn:active {
  background-color: $featured-bg;
}

@media (hover: hover) and (pointer: fine) {
  .tag__btn:hover {
    background-color: $featured-bg;
  }
}
</style>
