<template lang="pug">
.filters
  .filters__content
    filter-tag(v-for="tag in filterTags" :text="tag")
  .filters__clear-area
    button.clear(@click="clearAllFilters") Clear
</template>

<script>
import FilterTag from "./FilterTag.vue";
export default {
  components: {
    FilterTag
  },
  computed: {
    filterTags() {
      return this.$store.getters.filters;
    }
  },
  methods: {
    clearAllFilters() {
      this.$store.dispatch("clearFilters");
    }
  }
};
</script>
<style lang="scss" scoped>
.filters {
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 20px;
  padding-top: 0;
}

.clear {
  transform: translateY(10px);
  background-color: transparent;
  border: none;
  color: $card-meta;
  transition: all 0.2s ease;
}

.clear:focus {
  outline: none;
}

.clear:active {
  text-decoration: underline;
  color: $header-bg;
}

@media (hover: hover) and (pointer: fine) {
  .clear:hover {
    text-decoration: underline;
    color: $header-bg;
  }
}
</style>
