<template lang="pug">
button.tag(:value="text" @click="addFilteredTag") {{text}}
</template>

<script>
export default {
  props: ["text"],
  methods: {
    addFilteredTag(event) {
      const value = event.target.value;
      this.$store.dispatch("addFilter", value);
    }
  }
};
</script>

<style lang="scss" scoped>
.tag {
  margin-top: 16px;
  margin-right: 16px;
  padding: 8px 10px;
  display: inline-block;
  background-color: $tag-bg;
  border-radius: 4px;
  font-size: 13px;
  color: $header-bg;
  font-weight: 700;
  border: none;
  transition: all 0.2s ease;
}

.tag:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .tag {
    margin-top: 0;
  }
}

.tag:focus {
  outline: none;
}

.tag:active {
  background-color: $header-bg;
  color: $white;
}

@media (hover: hover) and (pointer: fine) {
  .tag:hover {
    background-color: $header-bg;
    color: $white;
  }
}
</style>
