<template lang="pug">
.card
  img.logo(:src="logo")
  .description
    .description__title
      .company {{company}}
      base-badge(v-if="newTo" class="new" text="new!")
      base-badge(v-if="featured" class="featured" text="featured")
    a.description__position {{position}}
    .description__meta
      span {{postedAt}}
      .circle
      span {{contract}}
      .circle
      span {{location}}
  .tags
    job-item-tag(v-for="tag in tags" :key="tag" :text="tag" mode="cardItem")
</template>

<script>
import JobItemTag from "./JobItemTag.vue";

export default {
  components: {
    JobItemTag
  },
  props: [
    "id",
    "company",
    "logo",
    "newTo",
    "featured",
    "position",
    "role",
    "level",
    "postedAt",
    "contract",
    "location",
    "languages",
    "tools"
  ],
  computed: {
    tags() {
      return [
        this.$props.role,
        this.$props.level,
        ...this.$props.languages,
        ...this.$props.tools
      ];
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  position: relative;
  padding: 30px 24px 24px;
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
  background-color: $white;
  border-left: 5px solid $header-bg;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(92, 165, 165, 0.1);
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    align-items: center;
  }
}

.logo {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .logo {
    width: 88px;
    height: 88px;
    position: relative;
    transform: translateY(0);
    margin-right: 24px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $card-meta;
}

@media (min-width: 768px) {
  .description {
    border-bottom: none;
  }
}

.description__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
}

a.description__position {
  margin-bottom: 8px;
  font-weight: 700;
  color: $text;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

a.description__position:focus {
  color: $text;
}

a.description__position:active {
  color: $header-bg;
}

@media (hover: hover) and (pointer: fine) {
  a.description__position:hover {
    color: $header-bg !important;
  }
}

.description__title > * {
  margin: 0 8px;
}

.description__meta {
  color: $card-meta;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  margin-bottom: 16px;
}

.description__meta > * {
  margin: 0 8px;
}

.description__meta span:first-child {
  margin-left: 0;
}

.circle {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: $card-meta;
}

.company {
  margin-left: 0;
  font-size: 13px;
  font-weight: 700;
  color: $header-bg;
}

@media (min-width: 768px) {
  .tags {
    margin-left: auto;
  }
}
</style>
