@font-face {
  font-family: "Barlow-Medium";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"),
    url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-Black";
  src: url("../fonts/Barlow-Black.woff2") format("woff2"),
    url("../fonts/Barlow-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
