/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_base.css";
@import "./container/container.css";
@import "./header/header.css";
@import "./header/header__content.css";
@import "./btn/btn.css";
@import "./hero/hero.css";
@import "./hero/hero__content.css";
@import "./hero/img.css";
@import "./hero/square.css";
@import "./cta/cta.css";
@import "./cta/cta__title.css";
@import "./cta/cta__subtitle.css";
@import "./cta/cta__group.css";
@import "./cta/cta__btn.css";
@import "./cta/cta__release.css";
@import "./main/main.css";
@import "./main/main__content.css";
@import "./main/main__images.css";
@import "./main/left-img.css";
@import "./main/img-overlay.css";
@import "./main/right-img.css";
@import "./main/main__square.css";
@import "./main/main__group.css";
@import "./main/main__title.css";
@import "./main/main__subtitle.css";
@import "./features/features.css";
@import "./features/features__content.css";
@import "./features/features__group.css";
@import "./card/card.css";
@import "./card/card__img-container.css";
@import "./card/card__title.css";
@import "./card/card__subtitle.css";
@import "./footer/footer.css";
