<template lang="pug">
.main
  .container
  h1.title We're launching soon
  .flip-clock__container
    base-card(v-for="(item, index) in stringClock" :key="item")
      template(v-slot:digit)
        span {{item}}
      template(v-slot:title)
        span {{index}}
.footer
  .socials
    base-social(link="https://www.facebook.com/")
      img(src="./assets/icon-facebook.svg")
    base-social(link="https://www.pinterest.com")
      img(src="./assets/icon-pinterest.svg")
    base-social(link="https://www.instagram.com")
      img(src="./assets/icon-instagram.svg")
</template>

<script>
export default {
  name: "Countdown",
  data() {
    return {
      clock: {
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      },
      now: 0,
      countDownDate: 0,
      interval: null,
    };
  },
  computed: {
    stringClock() {
      return {
        days: this.clock.days.toString().padStart(2, "0"),
        hours: this.clock.hours.toString().padStart(2, "0"),
        minutes: this.clock.minutes.toString().padStart(2, "0"),
        seconds: this.clock.seconds.toString().padStart(2, "0"),
      };
    },
  },
  created() {
    this.resetClock();

    this.interval = setInterval(() => {
      this.now = new Date().getTime();
      const distance = this.countDownDate - this.now;

      if (distance <= 0) {
        // clearInterval(this.interval);
        this.resetClock();
      }

      this.clock.days = Math.floor(distance / (1000 * 60 * 60 * 24));
      this.clock.hours = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      this.clock.minutes = Math.floor(
        (distance % (1000 * 60 * 60)) / (1000 * 60)
      );
      this.clock.seconds = Math.floor((distance % (1000 * 60)) / 1000);
    }, 1000);
  },
  methods: {
    resetClock() {
      this.countDownDate = new Date().getTime() + 8 * 24 * 60 * 60 * 1000;
    },
  },
};
</script>

<style lang="scss">
#app {
  display: flex;
  flex-direction: column;
}

#app {
  font-family: "Red Hat Text", sans-serif;
  height: 100vh;
  font-size: 1rem;
  background-color: $bg;
  background-image: url("./assets/pattern-hills.svg"),
    url("./assets/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: 200%, cover;
  background-position: center bottom, center top;
}

@media (min-width: $medium) {
  #app {
    background-size: 100%, cover;
  }
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding-bottom: 48px;
}

@media (min-width: $medium) {
  .footer {
    padding-bottom: 72px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $small) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: $medium) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $large) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: $ex-large) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: $huge) {
  .container {
    max-width: 1320px;
  }
}

.title {
  margin: 0 auto;
  max-width: 320px;
  padding-top: 140px;
  margin-bottom: 55px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: $white;
}

@media (min-width: $medium) {
  .title {
    max-width: 100%;
    font-size: 22px;
    letter-spacing: 7px;
  }
}

.flip-clock__container {
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: default;
}

.socials {
  display: flex;
  justify-content: center;
}
</style>
