doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Solution For Type Master Pre Launch Landing Page Frontend Mentor Challenge")
    title Type Master Pre Launch Landing Page
  body
    header.header
      .container.header__content
        a.link(href="#")
          img.logo(src="./img/logo.svg")
        button.btn Pre-Order Now
    section.hero
      .container
        .hero__content
          .cta
            h1.cta__title Typemaster Keyboard
            p.cta__subtitle Improve your productivity and gaming without breaking the bank. Upgrade to a high quality mechanical typing experience.
            .cta__group
              button.btn.cta__btn Pre-Order Now
              p.cta__release Release on 5/27
          .img
          img.square(src="./img/pattern-square.svg")
    section.main
      .container
        .main__content
          .main__iamges
            .left-img
              .img-overlay
            .right-img
            img.main__square(src="./img/pattern-square.svg")
          .main__group
            h2.main__title mechanical wireless Keyboard
            p.main__subtitle The Typemaster keyboard boasts top-notch build and practical design. It offers a wide variety of switches and keycaps, along with reliable wireless connectivity.
    section.features
      .container
        .features__content
          .features__group
            .card
              .card__img-container
                img.card__img(src="./img/icon-compatible.svg")
              h3.card__title HIGHLY COMPATIBLE
              p.card__subtitle
                | Easy to use and works well with all major computer brands, gaming consoles and mobile devices. Plug & play, no installation or driver needed.
            .card
              .card__img-container
                img.card__img(src="./img/icon-bluetooth.svg")
              h3.card__title WIRELESS WITH BLUETOOTH
              p.card__subtitle
                | Powerful 2.4G RF technology allows you to connect the cordless keyboard from up to 30ft away. Simply plug the unifying receiver into your computer.
          .features__group
            .card
              .card__img-container
                img.card__img(src="./img/icon-battery.svg")
              h3.card__title HIGH CAPACITY BATTERY
              p.card__subtitle
                | Equipped with a long-lasting built-in battery, you’ll never have to spend a dime on replaceable ones. Enjoy 40 hours of usage time between charges.
            .card
              .card__img-container
                img.card__img(src="./img/icon-light.svg")
              h3.card__title RGB BACKLIT MODES
              p.card__subtitle
                | Choose from 4 backlight brightness levels and adjustable breathing speed. Each key glows intensely in the dark and helps you type in low light conditions.
    footer.footer
      p.copyright
        span.bold Typemaster 2021&nbsp;
        .
          |  All Rights Reserved