//- Mixins
mixin formGroup(groupData)
  div(class=groupData.groupClasses)
    input(class=groupData.input.classes name=groupData.input.name type=groupData.input.type placeholder=groupData.input.placeholder)
    small(class=groupData.errorElem.classes for=groupData.errorElem.for)

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/intro-component-with-signup-form-5cf91bd49edda32581d28fd1")
    meta(name="author" content="Dmitriy Granyov")
    title Intro Component With Signup Form
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    main#main.main
      .container
        .row
          .col-md-6
            .main-content
              h1 Learn to code by watching others
              p.
                See how experienced developers solve problems in real-time.
                Watching scripted tutorials is great, but understanding how
                developers think is invaluable.
          .col-md-6
            button.main-button.btn.btn-lg
              span Try it free 7 days 
              | then $20/mo. thereafter
            form.form(action="#")
              - const form_group = []
              - form_group.push({groupClasses: 'form-group', input: {classes: 'form-input form-control', name: 'First Name', type: 'text', placeholder: 'First Name'}, errorElem: {classes: 'form-error', for: 'First Name'}})
              - form_group.push({groupClasses: 'form-group', input: {classes: 'form-input form-control', name: 'Last Name', type: 'text', placeholder: 'Last Name'}, errorElem: {classes: 'form-error', for: 'Last Name'}})
              - form_group.push({groupClasses: 'form-group', input: {classes: 'form-input form-control', name: 'Email', type: 'email', placeholder: 'Email Adress'}, errorElem: {classes: 'form-error', for: 'Email'}})
              - form_group.push({groupClasses: 'form-group', input: {classes: 'form-input form-control', name: 'Password', type: 'password', placeholder: 'Password'}, errorElem: {classes: 'form-error', for: 'Password'}})
              each group in form_group
                +formGroup(group)
              div
                button.form-button.btn.btn-lg(type="submit") Claim your free trial
                small.form-small
                  | By clicking the button, you are agreeing to our 
                  a(href="#") Terms and Services         
    footer#footer.footer
      a(href="https://github.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    script(src="js/main.js")
