.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--border-light);
  font-family: "RedHatDisplay-Black", sans-serif;
  background-color: var(--white);
  color: var(--text);
}

.number:focus {
  outline: none;
}
