<template lang="pug">
.main
  section
    base-container
      transition(name="slide-fade")
          filter-list(v-if="hasFilters")
  section
    base-container
      transition-group.job-list(name="list-complete" tag="div" mode="out-in")
        job-item(
          v-for="job in filteredJobs" 
          :key="job.id" 
          :id="job.id" 
          :company="job.company" 
          :logo="job.logo" 
          :newTo="job.new" 
          :featured="job.featured"
          :position="job.position"
          :role="job.role"
          :level="job.level"
          :postedAt="job.postedAt"
          :contract="job.contract"
          :location="job.location"
          :languages="job.languages"
          :tools="job.tools"
          )
</template>

<script>
import JobItem from "../components/jobs/JobItem.vue";
import FilterList from "../components/jobs/FilterList.vue";

export default {
  components: {
    JobItem,
    FilterList
  },
  data() {
    return {
      itemHasFilter: false
    };
  },
  computed: {
    filteredJobs() {
      const jobs = this.$store.getters.jobs;

      if (!this.$store.getters.hasFilters) {
        return jobs;
      }

      return jobs.filter((job) => {
        this.itemHasFilter = false;
        const tags = [job.role, job.level, ...job.languages, ...job.tools];

        tags.forEach((tag) => {
          if (this.$store.getters.filters.includes(tag)) {
            this.itemHasFilter = true;
          }
        });

        return this.itemHasFilter;
      });
    },
    hasFilters() {
      return this.$store.getters.hasFilters;
    }
  }
};
</script>

<style lang="scss" scoped>
.main {
  padding-bottom: 40px;
}

.job-list {
  margin: 0;
  padding: 0;
  position: relative;
}

.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.list-complete-enter-from,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}
</style>
