<template lang="pug">
base-container
  .main
    h1.main__title Oops... No such page ... sorry
    router-link.main__go-home(to="/") Go Home
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.main {
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $header-bg;
}

.main a {
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
  color: $header-bg;
}

.main a:focus {
  outline: none;
}

.main a:active {
  border-bottom: 1px solid $header-bg;
}

@media (hover: hover) and (pointer: fine) {
  .main a:hover {
    border-bottom: 1px solid $header-bg;
  }
}
</style>
