@font-face {
  font-family: 'Barlow-Regular';
  src: url("../fonts/Barlow-Regular.eot");
  src: url("../fonts/Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff"), url("../fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url("../fonts/BarlowCondensed-Regular.eot");
  src: url("../fonts/BarlowCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BarlowCondensed-Regular.woff2") format("woff2"), url("../fonts/BarlowCondensed-Regular.woff") format("woff"), url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url("../fonts/BarlowCondensed-Bold.eot");
  src: url("../fonts/BarlowCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BarlowCondensed-Bold.woff2") format("woff2"), url("../fonts/BarlowCondensed-Bold.woff") format("woff"), url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fff;
  background-image: url(../img/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  font-family: "Barlow-Regular", sans-serif;
  font-size: 62.5%; }

body * {
  font-size: 1rem; }

*:focus {
  outline: none !important; }

.link {
  text-decoration: none;
  color: #242942;
  transition: all 0.2s ease-out; }
  .link:hover {
    color: #242942;
    text-decoration: none; }
  .link:active {
    color: #242942;
    text-decoration: none; }

#main {
  flex: 1 0 auto; }

#footer {
  flex: 0 0 auto; }

.container-fluid {
  padding: 0; }

h1 {
  font-family: "BarlowCondensed-Bold", sans-serif;
  font-size: 4rem;
  text-transform: uppercase; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

@media (max-width: 1200px) {
  h1 {
    font-size: 3rem; } }

@media (max-width: 768px) {
  body {
    background-image: url(../img/bg-mobile.svg); } }

@media (max-width: 576px) {
  h1 {
    font-size: 2.2rem; } }

.header {
  position: relative;
  padding-top: 3rem; }

#link_dot i {
  font-size: 0.5rem;
  color: #bbbcc4; }

#link_dot a {
  pointer-events: none; }

.nav-link {
  box-sizing: content-box;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: "BarlowCondensed-Bold", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: none;
  border-bottom: 2px solid transparent; }
  .nav-link:active {
    color: #242942;
    border-bottom: 2px solid #242942; }

.main {
  position: relative;
  overflow: hidden; }
  .main-content {
    display: flex;
    flex-direction: row;
    padding: 6rem 0;
    color: #242942; }
    .main-content_pretitle {
      font-family: "BarlowCondensed-Regular", sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: #a0a1ac; }
      .main-content_pretitle span {
        padding: 0.3rem 0.7rem;
        margin-right: 1rem;
        background-color: #242942;
        border-radius: 5rem;
        font-family: "BarlowCondensed-Bold", sans-serif;
        font-size: 1rem;
        color: #fff;
        text-transform: uppercase; }
    .main-content_aftertitle {
      padding-top: 1rem;
      max-width: 18rem;
      font-family: "Barlow-Regular", sans-serif;
      font-size: 1.2rem;
      color: #5b5f71; }
    .main-content_buttons {
      padding-top: 3rem; }
  .main-img {
    width: 200%;
    margin-left: 3rem; }

.footer {
  padding-bottom: 1rem;
  text-align: center; }

@media (hover: hover) and (pointer: fine) {
  .nav-link:hover {
    color: #a0a1ac;
    border-bottom: 2px solid #a0a1ac; }
  .nav-link:active {
    color: #242942;
    border-bottom: 2px solid #242942; } }

@media (max-width: 992px) {
  .main-img {
    width: 300%; } }

@media (max-width: 768px) {
  .nav {
    width: 15rem;
    display: flex;
    padding: 1rem 0;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: transform 0.2s ease;
    background-color: #fff;
    box-shadow: 0 2px 5px #cccccc;
    z-index: 1000; }
  #link_dot {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    padding: 0;
    background-color: #bbbcc4; }
    #link_dot i {
      display: none; }
  .main-content {
    flex-direction: column-reverse; }
    .main-content_textwrap {
      margin-top: 5rem; }
  .main-img {
    display: block;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 576px) {
  .main-content_pretitle {
    letter-spacing: 2px; }
  .main-content_buttons {
    padding-top: 1rem; } }

.logo {
  width: 2rem; }

.li_link {
  padding: 0.5rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.login {
  color: #a0a1ac; }
  .login:focus {
    color: #a0a1ac; }
  .login:active {
    color: #a0a1ac;
    border-bottom: 2px solid #a0a1ac; }

#ham {
  display: none;
  border: none;
  z-index: 1000;
  background: none;
  transition: all 0.1s ease; }
  #ham i {
    font-size: 1.4rem; }
  #ham:active {
    transform: translateY(2px); }

.btn {
  width: 13rem;
  height: 3rem;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  text-transform: uppercase; }
  .btn_demo {
    background-color: #ff5c5c;
    color: #fff;
    font-family: "BarlowCondensed-Bold", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px; }
    .btn_demo:active {
      color: #000;
      background-color: #ff2929; }
  .btn_preview {
    margin-left: 2rem;
    font-family: "BarlowCondensed-Regular", sans-serif;
    font-size: 1.2rem;
    color: #a0a1ac;
    letter-spacing: 4px; }
    .btn_preview:active {
      color: #000;
      background-color: #ff2929; }

@media (hover: hover) and (pointer: fine) {
  .login:hover {
    color: #242942;
    border-bottom: 2px solid #242942; }
  .login:active {
    color: #a0a1ac;
    border-bottom: 2px solid #a0a1ac; }
  .btn_demo:hover {
    background-color: #ff2929;
    color: #fff; }
  .btn_demo:active {
    color: #000;
    background-color: #ff2929; }
  .btn_preview:hover {
    background-color: #ff2929;
    color: #fff; }
  .btn_preview:active {
    color: #000;
    background-color: #ff2929; } }

@media (max-width: 1200px) {
  .btn_preview {
    margin-left: 1rem; } }

@media (max-width: 992px) {
  .btn {
    width: 100%; }
    .btn_preview {
      margin-left: 0;
      margin-top: 1rem; } }

@media (max-width: 768px) {
  #ham {
    display: block; } }

.nav_active {
  transform: translate(-50%, 30%); }
