// Fonts
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// Base
body {
  .fontMix('OpenSans-Regular', 62.5%);
  color: @black
}

body {
  * {
    font-size: 1rem;
  }
}

*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}

a {
  text-decoration: none;
  color: @black;
  &:hover {
    color: @black;
    text-decoration: none;
  }
  &:focus {
    color: @black;
  }
}

h1 {
  .fontMix('Raleway-Bold', 2.3rem);
}

h2 {
  .fontMix('Raleway-Bold', 1.8rem);
}


h3 {
  .fontMix('Raleway-Bold', 0.9rem);
}

p {
  .fontMix('Raleway-Regular', 1rem);
}

ul, ol {
  margin: 0;
  padding: 0;
}

button {
  .fontMix('Raleway-Regular', 1rem);
}

.border__underline {
  border-bottom: 1px solid @accent-moderate-cyan;
}


@media (max-width: @large) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    .fontMix('Raleway-Bold', 1.6rem);
  }
}
