//Header
.navbar {
  padding: 3rem 0 5rem;
  list-style: none;
  &-item {
    padding: 0 2rem;
  }
  &-toggler {
    border: none;
  }
}

// Main
.main {
  padding-bottom: 15rem;
  background-image: url('@{IMG_DIR}bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  &-content {
    padding: 2rem 0 0;
    color: @primary-dark-blue;
    h1 {
      line-height: 1.5;
    }
  }
}

// Testimonials
.testimonials {
  padding: 2rem 0 7rem;
  background-color: @testimonials-bg;
  &-content {
    color: @primary-dark-blue;
    margin-bottom: 2rem;
    h1 {
      padding-bottom: 1rem;
    }
    p {
      max-width: 35rem;
    }
    a {
      color: @accent-moderate-cyan;
      i {
        margin-left: 0.5rem;
      }
    }
  }
}

// CTA
.cta {
  padding: 7rem 0 6rem;
  color: @white;
  background-color: @primary-desaturated-blue;
  &-content {
    h2 {
      line-height: 1.5;
    }
    p {
      max-width: 30rem;
    }
  }
}

// Footer
.footer {
  padding: 5rem 0 3rem 0;
  background-color: @primary-dark-blue;
  color: @white;
  p {
    .fontMix('OpenSans-Regular', 1rem);
  }
  a {
    color: @white;
  }
  &-content {
    padding-top: 2rem;
  }
  &-copyright {
    width: 100%;
    text-align: right;
  }
}

@media (max-width: @large) {
  // Main
  .main {
    padding-bottom: 12rem;
    background-image: url('@{IMG_DIR}bg-curve-mobile.svg');
    &-content {
      padding-top: 0;
    }
  }
}

@media (max-width: @medium) {
  .column-reverse {
    flex-direction: column-reverse;
  }

  //Header
  .navbar {
    &-nav {
      padding-top: 0.5rem;
    }
    &-item {
      padding: 0;
    }
  }

  // Main
  .main {
    &-content {
      padding-top: 4rem;
      text-align: center;
      h1 {
        margin: 0;
      }
      p {
        padding: 1.5rem 0;
        margin: 0;
      }
    }
  }

  // Testimonials
  .testimonials {
    &-content {
      text-align: center;
      h1 {
        padding-top: 3rem;
      }
      p {
        max-width: 100%;
      }
    }
  }

  // CTA
  .cta {
    padding: 5rem 0 5rem;
    &-content {
      text-align: center;
      p {
        max-width: 100%;
        padding: 1rem 0;
      }
    }
  }

  // Footer
  .footer {
    &-copyright {
      text-align: center;
    }
  }
}

@media (max-width: @small) {
  // Footer
  .footer {
    &-copyright {
      font-size: 0.8rem;
    }
  }
}
