// Logo
.logo {
  width: 10rem;
}

// Images
.img {
  &-main, &-testimonials {
    width: 100%;
  }
}

// Main form
.main-form {
  &-group {
    display: flex;
    &__email {
      padding: 1.4rem;
      width: 60%;
      border-color: @primary-dark-blue;
    }
    &__btn {
      margin-left: 1rem;
      width: 40%;
    }
  }
}

// Navbar
.navbar-toggler {
  &:focus {
    border: none;
  }
}
// Buttons
.btn-main {
  background-color: @accent-bright-blue;
  color: @white;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  &:active {
    background-color: darken(@accent-bright-blue, 10%);
    color: @black;
  }
}

// Testimonial card
.testimonials__card {
  padding: 1rem 2rem;
  width: 24rem;
  background-color: @white;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  i {
    margin-bottom: 1rem;
  }
}

// Media object for testimonials card
.media {
  &-body {
    padding-top: 0.4rem;
  }
  img {
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 15%;
  }
  h3, p {
    margin: 0;
  }
  p {
    font-size: 0.8rem;
  }
}

// CTA Form
.cta-form {
  &-group {
    &__email {
      padding: 1.5rem;
    }
    &__btn {
      margin-top: 1rem;
      padding: 0.7rem 2.5rem;
    }
  }
}

// Footer info
.footer__info {
  display: flex;
}

.footer__icon {
  padding-top: 0.3rem;
  margin-right: 0.5rem;
}

// List
.list {
  list-style: none;
  &-item {
    padding: 0.5rem 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

// Socials
.socials {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  list-style: none;
}

.socials__item {
  padding: 0 0.5rem;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid @white;
    border-radius: 50%;
  }
}

// Desktop hover state handler
@media (hover: hover) and (pointer: fine) {
  // Buttons
  .btn-main {
    &:hover {
      background-color: darken(@accent-bright-blue, 10%);
      color: @white;
    }
    &:active {
      background-color: darken(@accent-bright-blue, 10%);
      color: @black;
    }
  }
}

@media (max-width: @ex-large) {
  // CTA Form
  .cta-form {
    &-group {
      &__btn {
        width: 100%;
      }
    }
  }
}

@media (max-width: @large) {
  // Images
  .img {
    &-main, &-testimonials  {
      padding-top: 3rem;
    }
  }

  // Main form
  .main-form {
    &-group {
      flex-direction: column;
      &__email {
        width: 100%;
      }
      &__btn {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
      }
    }
  }
}

@media (max-width: @medium) {
  // Images
  .img {
    &-testimonials  {
      padding-top: 0;
    }
  }

  // Main form
  .main-form {
    &-group {
      align-items: center;
      &__email {
        width: 80%;
      }
      &__btn {
        width: 80%;
      }
    }
  }

  // Testimonial card
  .testimonials__card {
    margin: 0 auto;
  }

  // List
  .list {
    padding: 0.5rem 0;
  }

  // Socials
  .socials {
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: @small) {
  // Logo
  .logo {
    width: 8rem;
  }

  // Main form
  .main-form {
    &-group {
      &__email {
        width: 100%;
      }
      &__btn {
        width: 100%;
      }
    }
  }

  // Testimonial card
  .testimonials__card {
    width: 90%;
    padding: 1rem 1rem;
  }
}
