// Paths
@IMG_DIR: '../img/';

// Colors
@primary-dark-blue: hsl(243, 87%, 12%);
@primary-desaturated-blue: hsl(238, 22%, 44%);

@accent-bright-blue: hsl(224, 93%, 58%);
@accent-moderate-cyan: hsl(170, 45%, 43%);

@neutral-light-grayish-blus: hsl(240, 75%, 98%);
@testimonials-bg: #F8F8FE;
@neutral-light-gray: hsl(0, 0%, 75%);

@white: #fff;
@black: #000;

// Media breakpoints
@small: 576px;
@medium: 768px;
@large: 992px;
@ex-large: 1200px;
@huge: 1440px;
