.cta__btn {
  background-color: var(--cta-bg);
  color: var(--white);
}

.cta__btn:focus {
  color: var(--white);
  background-color: var(--cta-bg);
  outline: 0;
}

.cta__btn:active {
  background-color: var(--cta-active);
  color: var(--white);
}

@media (hover: hover) and (pointer: fine) {
  .cta__btn:hover {
    background-color: var(--cta-active);
    color: var(--white);
  }

  .cta__btn:active {
    color: var(--white);
    background-color: var(--cta-bg);
  }
}
