.cta__title {
  margin: 0;
  color: var(--headings);
  text-transform: uppercase;
  font-family: "Barlow-Black", sans-serif;
  font-size: 3rem;
  line-height: 56px;
}

@media (min-width: 992px) {
  .cta__title {
    font-size: 3.5rem;
  }
}
