//Colors
$white: #fff;
$black: #000;
$bg: #effafa;
$header-bg: #5ca5a5;
$featured-bg: #2b3939;
$card-meta: #7c8f8f;
$tag-bg: #eff6f6;
$text: #2b3939;

// Media breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$ex-large: 1200px;
$huge: 1400px;
