@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 62.5%;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
  color: #fff;
}
h1 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 2.2rem;
}
h2 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 2rem;
}
h3 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 1.8rem;
}
.btn {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 1rem;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .container__nomargin {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.4rem;
  }
}
.main {
  background-color: hsl(193, 100%, 96%);
  background-image: url('../img/bg-hero-desktop.svg');
  background-repeat: no-repeat;
}
.main-nav {
  padding: 2rem 0;
}
.main-content {
  padding-bottom: 1rem;
}
.main-content__header {
  padding-top: 2rem;
}
.main-content__header h1,
.main-content__header p {
  padding-bottom: 1rem;
}
.main-content__header h1 {
  line-height: 1.5;
}
.main-content__img {
  width: 100%;
}
.features {
  position: relative;
  padding: 5rem 0 15rem;
}
.footer {
  padding: 10rem 0 3rem 0;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
}
.footer-content {
  padding-top: 2rem;
}
.footer-copyright {
  width: 100%;
  text-align: right;
}
@media (max-width: 1200px) {
  .main {
    text-align: center;
  }
  .main-content__img {
    width: 85%;
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  .footer-copyright {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer-copyright {
    font-size: 0.8rem;
  }
}
.logo {
  width: 13rem;
}
.btn {
  border-radius: 2rem;
}
.btn-nav {
  padding: 0.7rem 3rem;
  background-color: #fff;
}
.btn-nav:active {
  background-color: #b3b3b3;
}
.btn-cta {
  padding: 1rem 4rem;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
}
.btn-cta:active {
  background-color: hsl(322, 100%, 46%);
  color: #000;
}
.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  border: none;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
  margin: 2rem 0;
  padding: 2rem;
}
.card:first-child {
  margin: 0 0 2rem;
}
.card:last-child {
  margin: 2rem 0 0;
}
.card-img {
  width: 35%;
}
.card-content {
  display: -ms-flexbox;
  display: flex;
  padding: 0 7rem;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
.card-content p {
  color: hsl(208, 11%, 55%);
}
.card-reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.cta {
  width: 45rem;
  padding: 2.7rem 0;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -7rem;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
}
.cta h2 {
  padding-bottom: 2rem;
}
.cta button {
  padding: 1.5rem 6rem;
  border-radius: 3rem;
}
.footer__info {
  display: -ms-flexbox;
  display: flex;
}
.footer__info p {
  max-width: 23rem;
}
.footer__icon {
  padding-top: 0.3rem;
  margin-right: 0.5rem;
}
.list {
  list-style: none;
}
.list-item {
  padding: 0.5rem 0;
}
.list-item:first-child {
  padding-top: 0;
}
.list-item:last-child {
  padding-bottom: 0;
}
.socials {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style: none;
}
.socials__item {
  padding: 0 0.5rem;
}
.socials__item:first-child {
  padding-left: 0;
}
.socials__item:last-child {
  padding-right: 0;
}
.socials__item a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media (hover: hover) and (pointer: fine) {
  .btn-nav:hover {
    background-color: #e6e6e6;
  }
  .btn-nav:active {
    background-color: #b3b3b3;
  }
  .btn-cta:hover {
    color: #fff;
    background-color: hsl(322, 100%, 46%);
  }
  .btn-cta:active {
    background-color: hsl(322, 100%, 46%);
    color: #000;
  }
}
@media (max-width: 992px) {
  .card-content {
    padding: 0 1rem;
  }
}
@media (max-width: 768px) {
  .card {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 1.5rem;
  }
  .card-img {
    width: 20rem;
    margin-bottom: 4rem;
  }
  .card-content {
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }
  .card-content h3 {
    padding-bottom: 1rem;
  }
  .cta {
    width: 93%;
  }
  .cta button {
    padding: 1rem 3rem;
    border-radius: 2rem;
  }
  .list {
    padding: 0.5rem 0;
  }
  .socials {
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 9rem;
  }
  .btn-nav {
    padding: 0.6rem 1.5rem;
    background-color: #fff;
  }
  .btn-cta {
    padding: 1rem 3rem;
  }
  .card-img {
    width: 15rem;
  }
  .card-content {
    padding: 0;
  }
  .cta {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
