// Fonts
@font-face
  font-family 'OpenSans-Bold'
  src url('../fonts/OpenSans-Bold.eot')
  src url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff'),
      url('../fonts/OpenSans-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'OpenSans-Regular'
  src url('../fonts/OpenSans-Regular.eot')
  src url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'OpenSans-SemiBold'
  src url('../fonts/OpenSans-SemiBold.eot')
  src url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff'),
      url('../fonts/OpenSans-SemiBold.ttf') format('truetype')
  font-weight 600
  font-style normal

@font-face
  font-family 'Poppins-Bold'
  src url('../fonts/Poppins-Bold.eot')
  src url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff'),
      url('../fonts/Poppins-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

// Base
body
  fontMix('OpenSans-Regular', 62.5%)
  color $neutral-dark-cyan

body
  *
    font-size 1rem

*:focus
  outline 0 !important
  -webkit-outline 0 !important
  -moz-outline 0 !important
  -ms-outline 0 !important
  -o-outline 0 !important

a
  text-decoration none
  color $white
  &:hover
    color $white
    text-decoration none
  &:focus
    color $white

ul, ol
  margin 0
  padding 0

h1
  fontMix('Poppins-Bold', 2.8rem)

h2
  fontMix('OpenSans-SemiBold', 1.8rem)

p
  fontMix('OpenSans-Regular', 1rem)

span
  fontMix('OpenSans-Bold', 1rem)

.container-fluid
  padding 0 12%

// .row-reverse
//   flex-direction column-reverse

@media (max-width: $huge)
  .container-fluid
    padding 0 12%

@media (max-width: $ex-large)
  .container-fluid
    padding 0 7%

@media (max-width: $large)
  .container-fluid
    padding 0 3%

@media (max-width: $medium)
  h1
    font-size 1.8rem
