// Header
.header
  padding 5rem 0

.navbar
  padding 0

// Main Section
.main
  text-align center
  padding 6rem 0 0
  &-content
    p
      padding 2rem 0
      margin 0 auto
      max-width 30rem
    button
      fontMix('OpenSans-Bold', 1rem)
  &-img
    width: 92%
    padding 6rem 0

// Statistics
.statistics
  padding 2rem 0 4rem

// Feature colored bg
.feature-bg, .footer-bg
  width 100%
  height 14rem
  background-repeat no-repeat
  background-size 100%

.feature-bg-top_1
  background-image url(../img/bg-section-top-desktop-1.svg)
  background-position bottom

.feature-bg-top_2
  background-image url(../img/bg-section-top-desktop-2.svg)
  background-position bottom

.feature-bg-bottom_1
  background-image url(../img/bg-section-bottom-desktop-1.svg)
  background-position top

.feature-bg-bottom_2
  background-image url(../img/bg-section-bottom-desktop-2.svg)
  background-position top

// CTA
.cta
  padding 5rem 0 10rem
  text-align center
  h1
    margin-bottom 3rem

// Footer
.footer-bg-top
  background-image url(../img/bg-footer-top-desktop.svg)
  background-position bottom

.footer
  &-content
    padding-top 5rem
    background-color $neutral-dark-cyan
    color $white
  &-author
    padding-top 1rem
    padding-bottom 2rem
  &-logo
    padding-bottom 2rem

@media (max-width: $large)
  // Statistics
  .statistics
    padding-bottom 0

  // Feature colored bg
  .feature-bg, .footer-bg
    background-size 100% 50%

  .feature-bg-top_1
    background-image url(../img/bg-section-top-mobile-1.svg)

  .feature-bg-top_2
    background-image url(../img/bg-section-top-mobile-2.svg)

  .feature-bg-bottom_1
    background-image url(../img/bg-section-bottom-mobile-1.svg)

  .feature-bg-bottom_2
    background-image url(../img/bg-section-bottom-mobile-2.svg)

  // CTA
  .cta
    padding-top 0

  // Footer
  .footer-bg-top
    background-image url(../img/bg-footer-top-mobile.svg)
    background-position bottom

  .footer
    &-content
      padding-top 0
    &-author
      text-align center

@media (max-width: $small)
  // Header
  .header
    padding 2rem 0

  // Main Section
  .main
    padding 5rem 0 0

  // Statistics
  .statistics
    padding-top 0
