// Logo
.logo
  width 13rem

// Buttons
.btn
  border-radius 5rem
  transition all 0.2s ease-out
  border 1px solid $primary-pink
  &-nav
    padding 0.5rem 2rem
    background-color $white
    color $primary-pink
    &:active
      background-color $primary-pink
      color $black
  &-cta
    padding 1.3rem 4.5rem
    background-color $primary-pink
    box-shadow 0 0.5rem 0.5rem 0.2rem rgba(0,0,0, 0.1)
    color $white
    &:active
      background-color $white
      color $black
  &-subscribe
    padding 1rem 2.5rem
    border-radius 0.5rem
    border 1px solid $primary-pink
    background-color $primary-pink
    color $white

// Statistics
.statistics__card
  display flex
  flex-direction column
  align-items center
  span
    font-size 5rem
  p
    font-size 1.4rem
    color lighten($black, 50%)

.statistics__img
  width 3.5rem
  margin-right 10rem

// Feature
.feature
  &-colored
    background-color $neutral-pale-blue
  &-content
    padding 5rem 0
    display flex
    flex-direction row
    justify-content space-between
    width: 100%

.feature__img
  margin 0 4rem
  width 45%

.feature__text
  margin 0 4rem
  h1
    padding: 6rem 0 1rem
  p
    max-width 39rem

.feature-reverse
  flex-direction row-reverse

// Footer
.footer__info
  display flex
  flex-direction row
  align-items center
  padding 0.5rem 0
  max-width 20rem
  i
    margin-right 1rem
  p
    margin 0

// Socials
.socials
  display flex
  flex-direction row
  list-style none
  padding-top 3rem

.socials__item
  padding 0 0.5rem
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0
  i
    font-size 2.4rem

// Footer Form
.footer-form
  width 90%
  padding-bottom 2rem
  &__email
    padding 1.6rem
  &__btn
    margin-left 3rem
    fontMix('OpenSans-Bold', 1rem)
  h2
    margin-top 1rem
    padding-bottom 2rem
  p
    max-width 24rem
    padding-bottom 1rem

.form-group
  display flex

// Desktop hover state handler
@media (hover: hover) and (pointer: fine)
  // Buttons
  .btn
    &-nav
      &:hover
        background-color $primary-pink
        color $white
      &:active
        background-color $primary-pink
        color $black
    &-cta
      &:hover
        background-color $white
        color $primary-pink
      &:active
        background-color $white
        color $black

@media (max-width: $huge)
  // Feature
  .feature__img
    margin 0 2rem

  .feature__text
    margin 0 2rem
    h1
      padding-top 5rem

  // Footer Form
  .footer-form
    width 100%

@media (max-width: $large)
  // Feature
  .feature
    &-content
      padding 1rem 0
      flex-direction column
      align-items center
      text-align center

  .feature__img
    width 80%

  .form-group
    flex-direction column
    align-items flex-end

  // Footer Form
  .footer-form
    &__btn
      margin-left 0
      margin-top 1rem

  // Socials
  .socials
    justify-content center

@media (max-width: $medium)
  // Statistics
  .statistics__card
    padding-bottom 7rem
    &:last-child
      padding-bottom 0

@media (max-width: $small)
  // Logo
  .logo
    width 10rem

  // Buttons
  .btn
    &-nav
      padding 0.4rem 1.5rem
    &-cta
      padding 1.3rem 3rem
