.card__title {
  max-width: 200px;
  margin: 40px auto;
  color: var(--headings);
  text-transform: uppercase;
  font-family: "Barlow-Black", sans-serif;
  font-size: 1.6rem;
  line-height: 28px;
}

@media (min-width: 768px) {
  .card__title {
    margin-left: 0;
  }
}
