.card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 65px;
  height: 65px;
  background-color: var(--cta-bg);
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__img-container {
    margin-left: 0;
  }
}
