.card {
  text-align: center;
  margin: 0 auto;
  margin-top: 64px;
}

@media (min-width: 768px) {
  .card {
    max-width: 350px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .card {
    margin: 0 15px;
  }
}
