@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.eot");
  src: url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/Manrope-Bold.eot");
  src: url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 62.5%;
  color: #48556a;
  background-color: #ecf2f8;
}

body * {
  font-size: 1rem;
}

*:focus {
  outline: none !important;
  -webkit-outline: none !important;
  -moz-outline: none !important;
  -ms-outline: none !important;
  -o-outline: none !important;
}

a {
  text-decoration: none;
  color: #48556a;
}
a:focus {
  color: #48556a;
}
a:hover {
  color: #48556a;
  text-decoration: none;
}

h1, h3 {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

#main {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

#main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.testimonial {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 51rem;
  background-color: #fff;
  border-radius: 1rem;
}
.testimonial-img {
  width: 20rem;
  height: 20rem;
  background-image: url(../img/drawers.jpg);
  background-repeat: no-repeat;
  background-size: 125%;
  border-radius: 1rem 0 0 1rem;
}
.testimonial-content {
  height: 100%;
  max-width: 31rem;
  padding: 2rem;
}

.media-img {
  width: 13%;
  border-radius: 50%;
}
.media-body {
  margin-left: 1rem;
  padding-top: 0.25rem;
}
.media-body p {
  margin: 0;
}

.share__btn {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  background-color: #ecf2f8;
  border-radius: 50%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: all 0.2s ease-out;
  z-index: 2;
}
.share__btn:active {
  background-color: #6d7f97;
  color: #fff;
}

.share__modal {
  position: absolute;
  bottom: 6rem;
  right: -4.2rem;
  display: none;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem 2rem;
  background-color: #48556a;
  border-radius: 1rem;
  color: #fff;
  z-index: 1;
}
.share__modal p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #9eafc2;
}
.share__modal:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -0.55rem;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #48556a;
}

.socials {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.socials a {
  margin: 0;
  color: inherit;
}
.socials a i {
  margin: 0;
  font-size: 1.5rem;
}

.socials__item {
  margin: 0;
  display: inline-block;
  text-align: inherit;
  padding: 0 0.5rem;
}
.socials__item:last-child {
  padding: 0 0 0 0.5rem;
}

@media (hover: hover) and (pointer: fine) {
  .share__btn:hover {
    background-color: #6d7f97;
    color: #fff;
  }
  .share__btn:active {
    background-color: #6d7f97;
    color: #000;
  }
}
@media (max-width: 992px) {
  .testimonial {
    width: 39rem;
  }
  .testimonial-img {
    width: 15rem;
    height: 15rem;
    background-size: 125%;
  }
  .testimonial-content {
    padding: 2rem 1rem;
    max-width: 24rem;
  }
  .testimonial-content h1 {
    font-size: 1rem;
  }
  .testimonial-content-text {
    font-size: 0.8rem;
  }

  .media-img {
    width: 10%;
  }
  .media-body {
    padding-top: 0;
    font-size: 0.8rem;
  }
  .media-body h3 {
    font-size: 0.8rem;
  }
  .media-body p {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .testimonial {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 90%;
  }
  .testimonial-img {
    width: 100%;
    height: 25rem;
    background-size: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .testimonial-content {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 2rem 2rem 0 2rem;
  }
  .testimonial-content h1 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
  .testimonial-content-text {
    padding-bottom: 2rem;
    font-size: 1rem;
  }

  .media {
    padding-top: 0;
    padding-bottom: 2rem;
    height: 6rem;
  }
  .media-img {
    width: 4rem;
  }
  .media-body {
    margin-left: 1rem;
    padding-top: 0.7rem;
  }
  .media-body h3 {
    font-size: 1rem;
  }
  .media-body p {
    font-size: 1rem;
  }

  .share__modal {
    position: absolute;
    width: 100%;
    height: 6rem;
    bottom: 0;
    right: 0;
    -ms-flex-pack: start;
        justify-content: flex-start;
    background-color: #48556a;
    border-radius: 0 0 1rem 1rem;
  }
  .share__modal p {
    margin: 0;
  }
  .share__modal:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    -ms-transform: 0;
        transform: 0;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  .socials {
    margin-left: 1rem;
  }

  .share__btn {
    bottom: 1.5rem;
    right: 2.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #6d7f97;
    color: #fff;
  }
  .share__btn:focus {
    background-color: #6d7f97;
    color: #fff;
  }
  .share__btn:active {
    background-color: #ecf2f8;
    color: #6d7f97;
  }
}
@media (max-width: 768px) {
  .testimonial-img {
    height: 14rem;
    border-radius: 1rem 1rem 0 0;
  }
  .testimonial-content {
    padding: 2rem 1.5rem 0 1.5rem;
  }
  .testimonial-content h1 {
    font-size: 1.2rem;
  }

  .media-body {
    margin-left: 0.5rem;
    padding-top: 1rem;
  }
  .media-body h3 {
    font-size: 0.8rem;
  }
  .media-body p {
    font-size: 0.8rem;
  }

  .share__modal {
    padding: 0 1rem;
  }

  .share__btn {
    right: 1rem;
  }
}
.active {
  display: -ms-flexbox;
  display: flex;
}
