// Main
.main {
  padding: 7% 0;
  &-content {
    padding-top: 8rem;
    color: @white;
    p {
      padding-top: 1.5rem;
    }
  }
}

// Footer
.footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: @large) {
  .main {
    &-content {
      h1 {
        font-size: 2.2rem;
      }
    }
  }
}

@media (max-width: @medium) {
  .main {
    &-content {
      padding: 0 0 2rem;
      text-align: center;
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: @small) {
  .main {
    &-content {
      h1 {
        font-size: 2.2rem;
      }
    }
  }
}
