// Buttons
.main-button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: @white;
  background-color: @accent-blue;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 15%);
  transition: all 0.2 ease-out;
  span {
    .fontMix('Poppins-Bold', 0.8rem);
  }
  &:focus {
    box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 15%);
    color: @white;
  }
  &:active {
    background-color: darken(@accent-blue, 10%);
    color: @white;
    box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 25%);
  }
}

// Form
.form {
  padding: 2rem;
  text-align: center;
  background-color: @white;
  border-radius: 0.7rem;
  box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 15%);
  &-group {
    text-align: right;
  }
  &-input {
    margin: 1rem 0 0.2rem;
    padding: 1.5rem;
    .fontMix('Poppins-SemiBold', 0.8rem);
  }
  &-error {
    display: none;
    font-size: 0.7rem;
    color:  @primary-red;
  }
  &-button {
    margin-bottom: 1rem;
    padding: 0.8rem;
    width: 100%;
    .fontMix('Poppins-SemiBold', 1rem);
    color: @white;
    background-color: @primary-green;
    box-shadow: 0 0.2rem 0 0 darken(@primary-green, 5%);
    text-transform: uppercase;
    &:focus {
      box-shadow: 0 0.2rem 0 0 darken(@primary-green, 5%);
      color: @white;
    }
    &:active {
      background-color: darken(@primary-green, 10%);
      box-shadow: 0 0.2rem 0 0 darken(@primary-green, 15%);
      color: @white;
    }
  }
  &-small {
    font-size: 0.7rem;
    color: @neutral-grayish-blue;
    a {
      .fontMix('Poppins-Bold', 0.7rem);
      color: @primary-red;
    }
  }
}

// Desktop hover state handler
@media (hover: hover) and (pointer: fine) {
  .main-button {
    &:hover {
      background-color: darken(@accent-blue, 10%);
      box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 25%);
      color: @white;
    }
    &:focus {
      color: @white;
    }
    &:active {
      background-color: darken(@accent-blue, 10%);
      color: @black;
      box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 25%);
    }
  }

  .form {
    &-button {
      &:hover {
        background-color: darken(@primary-green, 10%);
        box-shadow: 0 0.2rem 0 0 darken(@primary-green, 15%);
        color: @white;
      }
      &:focus {
        color: @white;
      }
      &:active {
        background-color: darken(@primary-green, 10%);
        box-shadow: 0 0.2rem 0 0 darken(@primary-green, 15%);
        color: @black;
      }
    }
  }
}

@media (max-width: @small) {
  // Buttons
  .main-button {
    padding: 1rem 0.5rem;
  }

  // Form
  .form {
    padding: 1rem;
    &-button {
      padding: 0.8rem 0.4rem;
    }
    &-small {
      display: inline-block;
      max-width: 16rem;
    }
  }
}
