// Paths
@IMG_DIR: '../img/';

// Colors
// Colors
@primary-red: hsl(0, 100%, 74%);
@primary-green: hsl(154, 59%, 51%);

@accent-blue: hsl(248, 32%, 49%);

@neutral-dark-blue: hsl(249, 10%, 26%);
@neutral-grayish-blue: hsl(246, 25%, 77%);


@white: #fff;
@black: #000;

// Media breakpoints
@small: 576px;
@medium: 768px;
@large: 992px;
@ex-large: 1200px;
@huge: 1440px;
